[2019-11-10 05:28] simcof opened #7 "Convert SWIG to pybind11"
Update initial codebase and set up scripts to pybind11

[2019-11-10 05:38] simcof opened #8 "base\canonical_errrors"

[2019-11-10 05:39] simcof opened #9 "base\logging"

[2019-11-10 05:39] simcof opened #10 "base\percentile"

[2019-11-10 05:39] simcof opened #11 "base\status_macros"

[2019-11-10 05:39] simcof opened #12 "base\status"
elements to bind

- [x] Status constructor
- [x] GetPayload
- [x] SetPayload
- [x] Erase Payload
- [x] StatusCode (scoped enumerator)
- [x] StatusCodeToString
- [ ] Status operator
- [ ] StatusCode operator

[2019-11-10 05:40] simcof opened #13 "base\statusor"

[2019-11-10 05:42] simcof opened #14 "algorithms\algorithm"

[2019-11-10 05:42] simcof opened #15 "algorithms\approx-bounds"

[2019-11-10 05:43] simcof opened #16 "algorithms\binary-search"

[2019-11-10 05:43] simcof opened #17 "algorithms\bounded-algorithm"

[2019-11-10 05:43] simcof opened #18 "algorithms\bounded-mean"

[2019-11-10 05:44] simcof opened #19 "algorithms\bounded-standard-deviation"

[2019-11-10 05:44] simcof opened #20 "algorithms\bounded-sum"

[2019-11-10 05:44] simcof opened #21 "algorithms\bounded-variance"

[2019-11-10 05:45] simcof opened #22 "algorithms\count"

[2019-11-10 05:45] simcof opened #23 "algorithms\distributions"

[2019-11-10 05:46] simcof opened #24 "algorithms\numerical-mechanisms"

[2019-11-10 05:46] simcof opened #25 "algorithms\order-statistics"

[2019-11-10 05:47] simcof opened #26 "algorithms\rand"

[2019-11-10 05:47] simcof opened #27 "algorithms\util"
- [x] XorStrings
- [x] GetNextPowerOfTwo
- [x] Qnorm
- [x] Clamp
- [ ] SafeAdd
- [ ] SafeSquare
- [ ] SafeSubtract
- [ ] Mean
- [ ] StandardDev
- [ ] OrderStatistic
- [ ] Correlation
- [ ] VectorFilter
- [ ] VectorToString

[2019-11-10 05:50] simcof opened #28 "Establish Testing Framework"
- [ Document testing methodology]
- [ Update scripts to automate testing]
- [ Implement a fully worked example of testing]
- [ Create any new issues required to improve quality]

[2019-11-10 06:28] simcof opened #29 "remove unneccesary postgres build step from DP bazel script"
We are not porting the postgres interface, so we don't need to build this. This step adds a lot of time to build!

[2019-11-12 04:03] simcof opened #31 "pybind11 folder rework"

[2019-11-12 04:04] chinmayshah99 commented on #31
I'll take this up

[2019-11-27 11:38] #31 closed

[2019-12-13 07:47] chinmayshah99 commented on #7
@simcof , we can close this issue.

[2020-02-11 23:53] simcof opened #35 "Bazel build for PyBind11"
Create consolidated Bazel build definition for PyBin11 solution

[2020-02-18 23:46] simcof commented on #35
bazel build now working

[2020-02-18 23:46] #35 closed

[2020-02-18 23:46] simcof commented on #29
build process has been optimized

[2020-02-18 23:46] #29 closed

[2020-02-18 23:50] simcof opened #40 "Remove old submodules"
The following submodules need to be purged from .git config cache:
/PyBind11 (it has been moved to third_party/PyBind11)
/diffferential-privacy (it has been moved to third_party/differential-privacy)
/third_party/abseil-cpp (this is now configured as a bazel git repository)
/third_party/boringssl (not needed anymore)
/third_party/protobuf (this is now configured as a bazel git repository)

[2020-02-18 23:51] simcof commented on #7
done

[2020-02-18 23:51] #7 closed

[2020-02-18 23:52] simcof opened #41 "Establish Python package framework"
- establish .cpp bindings (src/bindings) structure
- establish python extension API

[2020-02-18 23:56] simcof opened #42 "Add template for common tasks"
We need a template to show how to handle structures that are through out the PyDP lib. This will help us accelerate through the wrapping process

e.g. scoped enums, C++ templates etc...

[2020-02-19 00:37] jeamick commented on #40
I am working on it
@simcof

JM

[2020-02-19 06:01] simcof opened #48 "git development policies"
Document policies for feature branches, check-ins etc...

[2020-02-20 19:00] chinmayshah99 commented on #40
#51 removes pybind11 as a sub-module.
It's no longer needed as `WORKSPACE` calls `http_archive` for pybind11.

We can close this issue now.

[2020-02-21 00:28] #8 closed

[2020-02-21 00:28] #13 closed

[2020-02-21 07:07] #40 closed

[2020-02-22 21:41] chinmayshah99 opened #56 "Maintain Python3 support in all files"
In `Makefile `and `tox.ini`, the command invoked is `python file.py`.

The problem is in `conda `env, it defaults to python3. But in systems with both python 2 and 3 installed, it calls python2.

#### What can be done:
Make sure the correct python version is invoked when you call `python` and make changes accordingly in these two files.

[2020-02-22 22:04] karlhigley commented on #56
@chinmayshah99 What would that require? Calling `python3` instead of `python`?

[2020-02-23 00:21] simcof opened #57 "Add support for python 2 and 3 in build config"
Build config currently defaults to building for python 2 (usually). Need to support multiple configuration

[2020-02-24 10:51] IamRavikantSingh commented on #48
I would like to contribute to this issue. Please mention what I will be supposed to do.

[2020-02-25 12:08] debajit15kgp commented on #48
Is this issue open? If not then I would love to work on this

[2020-02-26 06:24] simcof opened #59 "Carrots demo"
Bind enough of the library to execute the carrots demo found in the examples folder of googles DP library

[2020-02-26 14:40] chinmayshah99 opened #61 "Add Dockerfile"
Since the environment setup is very complex, using Docker would be the easiest way to setup.
This will boost cross-platform development too, especially among our friends using Windows!

[2020-03-04 01:29] #57 closed

[2020-03-04 01:33] simcof opened #70 "Configure packaging for pypl"
Currently we can build the wheel for pydp but cannot access the pydp package once installed. We need to learn how to bundle the output from pybind11 into the python packaging system

[2020-03-04 01:34] #70 closed

[2020-03-04 01:34] simcof commented on #70
duplicate

[2020-03-04 09:36] TTitcombe commented on #57
Out of interest, why support 2 and 3, given that Python 2 is end of life?

[2020-03-05 04:38] chinmayshah99 commented on #57
My bad.
So the idea was in the system with just python3 installed, we can call python by simple `python`, but in the systems with both python 2 and 3, we needed to call python as `python3`.
Apologies for not making it clear.

[2020-03-05 08:43] TTitcombe commented on #57
That makes sense, thanks for clearing that up

[2020-03-05 11:25] imskr commented on #16
Can I work on this?

[2020-03-06 21:11] Benardi commented on #56
I believe that support to all targeted python versions should be kept via Continuous Integration. By using CI a change / improvement will only be merged into the stable version if it's ensured it supports all targeted versions.

[2020-03-06 21:39] chinmayshah99 commented on #56
While fixing #57 , setup on system with only python3 env broke. This was fixed in #63 .
We just need someone to verify that the build process works.
@simcof thoughts?

[2020-03-06 22:05] Benardi commented on #56
This problem happens when executing via Makefile ?

[2020-03-08 06:04] chinmayshah99 commented on #56
No. The problem is actually resolved. We just need to test it.

[2020-03-08 06:24] #28 closed

[2020-03-08 06:26] chinmayshah99 commented on #41
For `src/bindings`, we should follow the same structure as Google DP library.

[2020-03-08 06:31] chinmayshah99 opened #75 "Add documentation for Testing Framework"
We are using pytest for testing and tox to automate this process.

While we have set-up the scripts, we need to add documentation on how to write Unit Tests as well as establish standards to write these tests.

[2020-03-08 23:51] simcof commented on #16
I have direct messaged you on slack, would be great to have you on board!

[2020-03-09 00:29] simcof opened #77 "pydp scenarios"
### Expected Behavior

A set of scenarios that describe how users will consume the pydp library. This should include the full data lifecycle (prepare, explore, compute, output etc...)

These scenarios will be places in the docs folder and will be the basis of the examples that will be built to accompany the library.

### Current Behavior

No scenarios are described.

### Steps to Reproduce Behavio

[2020-03-09 16:42] #56 closed

[2020-03-11 16:58] NileshPant1999 commented on #75
I am working on it

[2020-03-15 14:05] NileshPant1999 commented on #22
@simcof will you please elaborate this issue

[2020-03-15 20:34] chinmayshah99 commented on #22
@NileshPant1999
This involves wrapping the `algorithms/count.h` with pybind11.
Find the source code here: https://github.com/google/differential-privacy/blob/master/differential_privacy/algorithms/count.h

[2020-03-18 21:40] NileshPant1999 commented on #22
We need to write the same function as  https://github.com/google/differential-privacy/blob/master/differential_privacy/algorithms/count.h here

[2020-03-18 22:33] jeamick commented on #59
@jeamick

[2020-03-29 01:50] simcof opened #85 "Integration of PyDP with TensorFlow"
### Expected Behavior

The PyDP package should be easily usable in a typical TensorFlow based project

### Current Behavior

No integration

### Steps to Reproduce Behavior

N/A - no integrations yet

### Logs

N/A - no integrations yet

### System information

* PyDP version: current
* Python version: 3
* Bazel version: as per current PyDP release
* Operating System: as per current PyDP release

[2020-03-29 06:51] codeboy5 commented on #23
Hey, can I work on binding this using pybind11 ?

[2020-03-29 13:48] NileshPant1999 commented on #85
Hey, I would like to work on it.

[2020-03-30 10:18] chinmayshah99 commented on #23
Sure.  If you have any questions, ping on slack.

[2020-03-31 17:08] replomancer opened #90 "Failing test: module 'pydp' has no attribute 'status_code_to_string'"
When I run `make test-all` I see 10 passing tests and 1 fail:
[code]

### Steps to Reproduce Behavior

Run `make test-all`.

### System information

* PyDP version: commit b6abd752058062c34a84c1e2bce3dd61b64460de
* Python version: 3.6.9
* Bazel version: 2.1.0
* Operating System: Ubuntu 18.04

[2020-04-02 11:58] alejandrosame commented on #90
Working on this issue.

[2020-04-02 13:41] #90 closed, assigned to alejandrosame

[2020-04-02 20:23] chinmayshah99 opened #92 "Python Package Structure"
### Expected Behavior

When we import the pydp package and print the `type()` of any object, it should be  `pydp.item`.

### Current Behavior

Currently, when we import the pydp package and print the `type()` of any object, it's `pydp.pydp.item`

### Steps to Reproduce Behavior

[code]

### System information

* Python version: 3.6

[2020-04-02 21:40] chinmayshah99 commented on #61
@replomancer , can we use docker volume instead of Copying file?

[2020-04-03 00:23] replomancer commented on #18
I'm starting work on this.

[2020-04-04 01:11] replomancer commented on #61
@chinmayshah99 It depends on what we want. If you're thinking of using volumes to have code available for the build then it's not possible. You can only mount volumes when you run a docker container, not when you build an image (there's no such option for build). Whatever we want to be available during the build needs to be copied there, so if we want the image to include PyDP, then we need to cop

[2020-04-04 05:55] chinmayshah99 commented on #61
Alright, then we should stick with the current configuration.

[2020-04-04 05:55] #61 closed

[2020-04-05 12:29] chinmayshah99 commented on #9
Converting this to a class

[2020-04-08 12:40] chinmayshah99 opened #99 "Ensure code adheres to coding standards."
### Expected Behavior

As decided on slack channel, we are following PEP8 style for python and Google code formating for C++. This was pushed in #98

### Current Behavior

The current code does not adhere to these standards and fails.

###  How to make it work

- If you type `pycodestyle `in the root directory, you will get list of all errors that needs to fixed.
- To fix CPP files, make sure that

[2020-04-08 17:22] alejandrosame commented on #99
I'll work on this.

[2020-04-08 17:45] paulkarikari opened #100 "Running docker build fails"
### Expected Behavior

Building a docker image from the Dockerfile should not require changes on the host machine.

### Current Behavior
Currently, building a docker image from the Dockerfile fails and it's required to run:
[code]

### Steps to Reproduce Behavior

From the project directory run:
`sudo docker build -t pydb . `

### Logs

[code]

[2020-04-08 19:10] chinmayshah99 commented on #100
The idea was using Dockerfile for building the project, i.e., compiling your code when you write any code. And that was the reason `ext_source_setup.sh` was removed from dockerfile.

So the way it currently works is since the previous layers of containers are already cached, the container could just build when we edit anything in src/.

If we add `ext_source_setup.sh somewhere, we need to figure o

[2020-04-08 19:19] chinmayshah99 commented on #100
Need to figure out the way to keep `ext_source_setup.sh` in cached part of the container.

[2020-04-08 19:45] paulkarikari commented on #100
Ok. are you already working on it ? or I should give it a shot?

[2020-04-09 14:06] #100 closed, assigned to nobody

[2020-04-12 08:35] #9 closed

[2020-04-12 14:31] alejandrosame commented on #99
According to the discussion in the Slack channel, the coding standards will stick to:
  - Using black to enforce Python coding style.
  - Keep the Google clang-format config with a max line length of 88 (80 + 10%, to keep the idea of 90ish from black).

I'll work on making these changes.

[2020-04-19 14:48] chinmayshah99 opened #107 "Documentation for PyDP"
We need to start the documentation at `/docs` folder accessible at [here ](pydp.readthedocs.org).

Before we start the documentation:
1. We need to identify what should be the documentation structure. What should be the template documentation (ex. should we get inspired by how Tensorflow is documented or some other way?)

Once we decide on the template, we should start with the documentation on ho

[2020-04-21 20:04] chinmayshah99 commented on #27
Remaining of these functions needs to be worked out.
An idea:
Operator overloading can be done for safeadd, safe subtract.

[2020-04-22 07:03] leclair-7 commented on #26
Hello, I'd like to take a stab at this one. Made good progress on the tutorials these past few days.

[2020-04-22 14:33] chinmayshah99 commented on #26
Sure, hit me up on Slack if you need anything.

[2020-04-25 02:40] simcof opened #109 "Deployment to pypi"
### Expected Behavior

Package should be available on pypi (e.g. pip install pypi)

### Current Behavior

Package has not been deployed

### Steps to Reproduce Behavior

N/A

### Logs

N/A

### System information

* PyDP version: all

[2020-04-25 06:52] chinmayshah99 commented on #59
Partial functionality added in https://github.com/OpenMined/PyDP/commit/36bd27b692c53173e1a4632948854bd2b95bf66c.

[2020-04-25 06:53] chinmayshah99 commented on #18
Proof of concept added in https://github.com/OpenMined/PyDP/commit/b62c3601bef7dbc3c7c769c176070f7e0e52af00

[2020-04-25 08:19] #109 closed, assigned to nobody

[2020-04-25 17:06] alejandrosame commented on #23
I'll take this issue.

[2020-04-25 19:31] chinmayshah99 opened #111 "Workflow for publishing directly on PYPI"
### Expected Behavior

Create a Github workflow, which when a release is created, automatically builds the package and uploads it on pypi.

We will need to create three different workflows for Linux, OSX and windows.

### Current Behavior

What is the current behavior?
As of now, we have to manually upload the package when we are about to release them using twine on the local system.

[2020-04-25 19:32] chinmayshah99 commented on #14
This is not needed as there is no need to expose the inner working as part of python port.

[2020-04-25 19:32] #14 closed

[2020-04-25 19:32] chinmayshah99 commented on #17
This is not needed as there is no need to expose the inner working as part of python port.

[2020-04-25 19:32] #17 closed

[2020-04-25 19:35] #99 closed, assigned to nobody

[2020-04-25 20:29] chinmayshah99 opened #112 "Add Support for Windows"
### Expected Behavior

Add a script to generate a `.dll` file as part of build process. Also, edits needs to made in setup.py to include this generated dll file. This dll file will be generated using bazel build.

### Current Behavior

Right now, pydp only supports Linux systems. This is due to the fact that we are just generating the `.so` file as seen [here](https://github.com/OpenMined/PyDP/blo

[2020-04-25 20:34] chinmayshah99 opened #113 "PyDP does not work on python 3,5, 3.7"
### Expected Behavior

It should work on all python3 interpreters.

### Current Behavior

When we import pydp on interpreters other than py3.6, It says module was compiled for python3.6; interpreter incompatible.

### Logs

![image](https://user-images.githubusercontent.com/10958613/80290268-e2827780-8761-11ea-9c78-39ba8f8cec46.png)

### System information

* PyDP version: 0.1.0dev
* Python versio

[2020-04-27 22:01] #23 closed

[2020-04-28 12:52] alejandrosame commented on #10
Hi!

I'll work on this.

[2020-04-29 03:45] simcof opened #117 "Release: PyDP a0.1.1"
second alpha release including following features:
<Chinmay to fill in>

[2020-04-29 05:30] #10 closed

[2020-04-29 07:39] chinmayshah99 commented on #41
While we have ported the CPP functions, we need to decide on how the python library will be exactly used. i.e., python API structure and how will the functions like `serialize()` and `partial output()` interact.

[2020-04-29 07:43] chinmayshah99 commented on #24
This API need not be exposed.

[2020-04-29 07:43] #24 closed

[2020-04-29 07:43] chinmayshah99 commented on #16
This API need not be exposed.

[2020-04-29 07:43] #16 closed

[2020-04-29 08:46] alejandrosame commented on #22
I'll work on this issue.

[2020-04-29 13:39] youben11 opened #119 "Wheel tag doesn't match the actual package"
### Expected Behavior

The distributed wheel package is tagged with 'py2.py3-none-any' which means it should work on all platform with both python 2 and 3, however, the wheel is including the pydp.so file which is compiled for a specific platform and python3.6 exactly.

### Current Behavior

Can't run on a different platform or python other than 3.6

### Steps to Reproduce Behavior

Install pydp f

[2020-04-29 13:50] chinmayshah99 commented on #119
Similar to #113

[2020-05-01 18:38] chinmayshah99 opened #120 "Error handling for Result, statusor"
### Expected Behavior

When we call the result function, which in turn calls `ValueorDie()`, if it dies, it returns a status code with it.
We need to take that status code from statusorr, integrate with base/status.cpp and raise an error in python.

 ### Current Behavior

When we call the result function, which in turn calls `ValueorDie()`, if it dies, the program crashes

### Steps to Reproduce B

[2020-05-02 20:23] #25 closed

[2020-05-03 07:58] #22 closed

[2020-05-04 15:52] leclair-7 commented on #112
I'll be working on this one starting later today. Updates to come!

[2020-05-05 07:53] chinmayshah99 commented on #117
The second release will have:

- Carrots demo working
- Support for all python 3 versions (35, 36, 37)
- If possible all Linux versions too.

[2020-05-05 09:24] replomancer opened #124 "Docker image doesn't build"
### Expected Behavior

[code]
should build the image from Dockerfile.

### Current Behavior

Due to package name change the building process ends with:
[code]

After changing the package path to dist/python_dp-0.1.0-py2.py3-none-any.whl in Dockerfile I get another error:
[code]

**Workaround**:
[code]

### Steps to Reproduce Behavior

How can we reproduce this?
[code]

### System information

* Py

[2020-05-05 10:26] chinmayshah99 opened #125 "Split the Style check into two parallel tests"
### Expected Behavior

As per the discussion on slack channel, we want to split the style tests into different tests for python and c++. So it becomes easier to understand where the tests fail.

If possible can we have these two run In parallel, i.e., we want to run both c++ and python style check even if either one of them fails. (Not sure if Github workflows allows that)

### Current Behavior

R

[2020-05-05 11:10] replomancer opened #126 "Tests are failing"
### Expected Behavior

Running one of these commands should execute all tests and the tests should pass:
`make test`, `tox`, `pytest tests`.

### Current Behavior

Only one test is executed with `make test` (a formatting test which
passes), `tox` produces lots of errors mostly related to this import:
[code]
and when I run `pytest tests` 7/40 tests are failing.

### Steps to Reproduce Behavior

Run

[2020-05-05 13:29] replomancer commented on #20
I'm working on binding it with the C API as demonstrated by @alejandrosame for BoundedMean in [his Pull Request](https://github.com/OpenMined/PyDP/pull/108).

[2020-05-06 00:17] chinmayshah99 opened #127 "Add workflow to Publish on PyPI"
### Expected Behavior

Need to add workflow to publish the package on PyPI.

- [ ] Ensure that all python versions are supported.
- [ ] Ensure that all operating systems are supported.

### Current Behavior

Doing it manually.

[2020-05-06 00:18] chinmayshah99 commented on #20
Major code reorganization has been done, so make sure you check that out too.

[2020-05-06 00:21] chinmayshah99 commented on #126
@alejandrosame , can you take a look at the error in `Count.memory_used()`?

[2020-05-06 00:23] chinmayshah99 commented on #126
Things to take care of:

- [ ] Tox

- [x] Pytest

[2020-05-06 17:12] chinmayshah99 commented on #127
Duplicate of #111

[2020-05-06 17:12] #127 closed, assigned to nobody

[2020-05-06 17:37] chinmayshah99 commented on #124
Hi @replomancer, just to confirm, have you ran `ext_source_setup.sh` file?
If not, does your `third_party` folder contain two sub-directories differential_privacy and pybind11_bazel?

[2020-05-07 12:36] replomancer commented on #124
No, I did not run that script. The Dockerfile already takes care of cloning the `third_party` repos and it makes sense to keep it independent from `ext_source_setup.sh`. I think it would be good to discuss the `Dockerfile` on Slack and clean it soon.

[2020-05-08 09:32] #124 closed, assigned to nobody

[2020-05-10 16:00] replomancer commented on #126
Update:
On the latest dev commit (360e54bfe035943d13a54073c3ccdce688a10bef)
running `pytest tests` inside the Docker container ends with a core dump.
Here is the `test_bounded_mean.py` line 32: https://github.com/OpenMined/PyDP/blob/360e54bfe035943d13a54073c3ccdce688a10bef/tests/algorithms/test_bounded_mean.py#L32

pytest output:
[code]

[2020-05-11 04:03] chinmayshah99 opened #137 "Add pytest to github actions"
### Expected Behavior

Add pytest to github actions

### Current Behavior

Only style testing is done as of the moment.

[2020-05-11 07:12] chinmayshah99 opened #138 "Port carrots.py to python 3.5.9"
### Expected Behavior

Make the code in carrots.py python 3.5.9 compliant.

### Current Behavior

As pointed out by @replomancer , examples.py does not work on python 3.5.9.

### System information

* PyDP version: 0.1.0
* Python version: 3.5.9
* Bazel version:
* Operating System:

[2020-05-11 10:28] #138 closed, assigned to chinmayshah99

[2020-05-11 10:31] #113 closed, assigned to nobody

[2020-05-11 10:39] chinmayshah99 commented on #111
- [x] Linux
- [x] OSX
- [x] Windows

[2020-05-11 11:34] codeboy5 commented on #137
Can I take this up ?

[2020-05-11 13:58] chinmayshah99 commented on #137
Sure

[2020-05-12 11:44] chinmayshah99 commented on #119
Fixed in #133

[2020-05-12 11:44] #119 closed, assigned to nobody

[2020-05-12 11:45] chinmayshah99 commented on #117
Released here: https://github.com/OpenMined/PyDP/releases/tag/v0.1.1dev

[2020-05-12 11:45] #117 closed, assigned to nobody

[2020-05-12 11:47] chinmayshah99 opened #143 "Add support for OSX"
### Expected Behavior

make it work lol

### Current Behavior

It does not build on systems without Xcode.

### Steps to Reproduce Behavior

How can we reproduce this?

### Logs

Are there any logs?

### System information

* PyDP version: 0.1.1
* Python version: 3+
* Bazel version:
* Operating System: OSX

[2020-05-12 11:48] chinmayshah99 commented on #59
Added as part of #117

[2020-05-12 11:48] #59 closed

[2020-05-12 13:53] replomancer commented on #21
Working on it.

[2020-05-12 13:53] replomancer commented on #19
I'm working on it.

[2020-05-13 12:41] systemshift opened #144 "logging.cpp causing build error"
### Expected Behavior

running `build_PyDP.sh` should have build PyDP without problems.

### Current Behavior

it does not compile, likely as a result of the following error:
[code]

### Steps to Reproduce Behavior

I tried to build it by forking and cloning the repo, and following the contributor guide.

### Steps to remove this behavior

By commenting out `/src/bindings/PyDP/base/logging.cpp` th

[2020-05-13 18:40] jeamick commented on #144
Hey @systemshift
Nice to see people testing the repo !!
Did you run `./ext_source_setup.sh` and `./prereqs.sh` before running `build_PyDP.sh`  ?

[2020-05-14 03:50] chinmayshah99 commented on #144
Hi @systemshift
Thanks for reporting this, I suspect the latest commits in Google DP library cause this break.

@jeamick yeah, @systemshift did run these other dependencies. As a matter of fact, if he comments out `logging.cpp`, it builds successfully.

We need to investigate this further.

[2020-05-16 18:00] replomancer commented on #144
Hey @systemshift
Thanks for reporting this! I have reproduced the problem on Ubuntu 20.04. Before we fix the building process on Ubuntu 20.04 you can build and use the Docker image.

There is actually an error shown a little earlier in the messages:
[code]

So far I discovered that removing "__cxx11" from this method definition:
[code]
like this:
[code]
fixes the building process for me, but I don

[2020-05-17 07:19] #144 closed, assigned to nobody

[2020-05-19 18:07] cereallarceny opened #149 "Create a better Readme"
[Based on this readme template](https://github.com/OpenMined/.github/blob/master/README-TEMPLATE.md), we should improve our readmes across all OpenMined projects.

[Please consult the following document for our desired best practices.](https://docs.google.com/document/d/126smq1Gful_mo-x5Wm1M1UJW9CvB8fT9YYZmamNqk0M/edit?usp=sharing)

[2020-05-20 11:44] shaistha24 commented on #149
I would like to work on this (Shaistha - slack)! Reaching out to the team for more technical details.

[2020-05-20 20:47] replomancer opened #150 "Code duplication in C API"
There's a lot of code repetition in [c_api.cc](https://github.com/OpenMined/PyDP/blob/8deac51a74382ccf6cc9aeee05aa580634864803/src/bindings/c/c_api.cc) and related files.

We can fix that with templates without hurting performance. Just to make sure we can wait with refactoring until we start benchmarking soon.

[2020-05-20 21:43] chinmayshah99 commented on #150
C API doesn't support templates. A better idea can be moving to C++ code.

[2020-05-21 11:42] replomancer commented on #150
Hey,
This file is actually C++ code :) We even have templates instantiation there already. What makes it "C API" is the `extern "C"` block which prevents C++ style names mangling and allows for C linkage. So it's like this:
[code]

Wikipedia can probably explain it better: https://en.wikipedia.org/wiki/Compatibility_of_C_and_C%2B%2B#Linking_C_and_C++_code

[2020-05-21 12:00] chinmayshah99 commented on #150
If that's the case, might just move to C++ code rather than using extern C. extern C allows us to create C bindings for other languages to use it. But since no other team (@OpenMined/dp-research @OpenMined/dp-web-and-mobile, cc @simcof )  has expressed interest, let's move to C++ code.

[2020-05-23 10:05] #21 closed

[2020-05-24 21:42] Frank-7 opened #154 "Provide version output"
## Feature Description
I would like to get the version of the package when I run `pydp.__version__`

## Is your feature request related to a problem?
Is common practice to provide a way to access the version of each package after importing it using .\_\_version\_\_ after the name of the imported pa

## What alternatives have you considered?
You can look into the version of the package from outside

[2020-05-25 06:43] codeboy5 commented on #125
Steps run sequentially on GitHub actions, different jobs can be run in parallel

[2020-05-25 08:40] chinmayshah99 commented on #125
Yes, that's the idea. Do you want to take it up?

[2020-05-25 14:49] codeboy5 commented on #125
I made some changes. https://gist.github.com/codeboy5/3588e71bab1615087b014b4b3a7dccce
I've tested it and it works parallel for both jobs.
Should I open a PR?

[2020-05-25 18:55] chinmayshah99 commented on #125
Yes, go for it!

[2020-05-25 18:59] chinmayshah99 commented on #107
Partial work being done at #149

[2020-05-26 20:40] #125 closed, assigned to nobody

[2020-05-27 19:32] chinmayshah99 commented on #15
We need to check if we need to wrap this.

[2020-05-27 19:42] chinmayshah99 commented on #77
(cc: @OpenMined/dp-research )

[2020-05-27 19:49] chinmayshah99 opened #158 "Verify PyDP results"
## Description
Add tests in coordination with @OpenMined/dp-research team and ensure that the values output are in-line with the theoretical expectation and update the tests accordingly.

## Additional Context
Add any other context about the problem here.

[2020-05-27 22:22] systemshift commented on #154
I can't assign myself, but I'll start working on this.

[2020-05-29 15:15] #143 closed, assigned to nobody

[2020-05-30 20:30] chinmayshah99 opened #163 "Github actions for Dockerfile"
## Feature Description

#### Publish to Docker Hub
It would be great if we can push the dockerfile to the docker hub, so users can directly try it from docker hub.

#### Github Action Tests
At the same time, while Github actions do give us in an isolated environment to test our build, we want to check if our build actually doesn't break dockerfile & if possible run the container too to check if it

[2020-05-31 19:50] #154 closed, assigned to systemshift

[2020-06-01 05:59] codeboy5 opened #171 "Fix the tests that have been commented out."
## Description
As part of my recent PR's #168 and #166 to fix the issues with pytest and make them pass, I had to comment out a couple of tests, I've added a TODO in the `tests/algorithms/test_count.py` file and `tests/algorithms/test_distributions.py` file.

Action points:
 - [ ] Fix the tests in `tests/algorithms/test_count.py`
 - [ ] Fix the tests in `tests/algorithms/test_distributions.py`

[2020-06-01 08:30] codeboy5 commented on #163
Should be use something like this for publishing https://github.com/OpenMined/PySyft/blob/master/.github/workflows/update-docker-image.yml ?Seems good to me

[2020-06-01 08:39] #149 closed, assigned to shaistha24

[2020-06-01 18:11] replomancer opened #174 "PyDP crashes when used with large lists"
## Description

This program:
[code]
crashes with
[code]
output. It's the same when I replace `BoundedMean` with `BoundedSum` or `Count`. I suspect that most or all algorithms are crashing like this. It works fine when `example_list` is smaller.

## How to Reproduce

Running the above code will probably produce same results on other machines. If not, try with a longer list. Actually the list creat

[2020-06-02 08:15] chinmayshah99 opened #175 "Support for Conda"
## Feature Description

Supporting for PyDP on Conda.

## Is your feature request related to a problem?
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## What alternatives have you considered?
We already have release on pypi, but condo support would be great too.

## Additional Context
Add any other context or screenshots about the feature request her

[2020-06-03 07:38] systemshift opened #179 "order statistics breaks when called many times at random"
## Description
running tests pass most of the time but I spotted this test failure without changing anything:
[code]

## How to Reproduce
run pytest many times, possible to be a result of random number generation. I tried to reproduce it but it wouldn't show up, after maybe 10 times I managed to reproduce the error, this is the only case where I got 2 errors, mostly it is just 1.

## System Inform

[2020-06-03 09:40] codeboy5 commented on #179
Yes I guess @chinmayshah99 knows about it and is working with the research team to get proper bounds

[2020-06-03 09:49] chinmayshah99 commented on #179
This is a subset of #158

[2020-06-03 14:16] oblute commented on #175
@chinmayshah99 I have been working on getting pydp in the conda-forge, I have it building but have had issues getting it to import and pass tests (even with new changes merged here https://github.com/OpenMined/PyDP/pull/166) I have a WIP PR open here: https://github.com/conda-forge/staged-recipes/pull/11811 if you have any import test thoughts.

[2020-06-03 19:47] chinmayshah99 commented on #175
I'm not versed with conda process, but I'm curious why it's trying to import
`from pydp import pydp.pydp`
Logs here: https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=170328&view=logs&j=c572e5d5-7ba7-55ce-5575-7ce1d9f7161e&t=81967b5f-0283-5c0b-87c1-e8fdeef842a3&l=331

[2020-06-03 19:53] oblute commented on #175
@chinmayshah99 outside of conda behavior, this seemed to be occurring for users pip installing, as seen in this now closed issue: https://github.com/OpenMined/PyDP/issues/126#issue-612520848 In the current behavior, a similar result is found there.

[2020-06-03 19:54] oblute commented on #175
It writes, in that issue at the top:

[code]

[2020-06-03 19:58] chinmayshah99 commented on #175
@oblute Can we take this discussion further on slack?

[2020-06-03 20:01] oblute commented on #175
@chinmayshah99 is gitter an okay option? a bit easier for me. i can DM you there. https://gitter.im/

[2020-06-03 20:02] chinmayshah99 commented on #175
Works for me, but the Openmined (pydp) team works on Slack

[2020-06-03 20:03] oblute commented on #175
okay, what's the workspace?

[2020-06-03 20:04] oblute commented on #175
@chinmayshah99 what's the workspace?

[2020-06-03 20:05] chinmayshah99 commented on #175
https://join.slack.com/t/openmined/shared_invite/zt-een94bc6-6ErpR~73SFAdNu5~QH7tlg
You can join #lib_pydp and ping me `@chinmay`(on slack)

[2020-06-03 20:24] chinmayshah99 commented on #126
While we have fixed `pytest`, the `tox `tests still fails.
#92 should be causing this break.

[2020-06-11 11:53] chinmayshah99 opened #183 "Port Restaurant Demo"
## Feature Description
Yet another demo is added to the DP library: https://github.com/google/differential-privacy/tree/master/examples/java
We need to port this example using pydp.
Also, jupyter notebook needs to be added for same.

## Additional Context
Experience with Java is required as the original code is written in java.

[2020-06-11 16:00] shaistha24 commented on #183
I would like to work on it @chinmayshah99

[2020-06-11 20:58] chinmayshah99 commented on #183
I have assigned it to you @shaistha24

[2020-06-13 17:39] replomancer opened #184 "Docker image doesn't build ("no such package")"
## Description
Docker image doesn't build.

## How to Reproduce
[code]

## System Information
 - OS: Ubuntu
 - OS Version: 20.04
 - Language Version: Python 3.7 (Docker base image)
 - Package Manager Version: -
 - Browser (if applicable): -
 - Browser Version (if applicable): -

## Additional Context
Docker build output:

[code]

[2020-06-13 21:22] chinmayshah99 commented on #184
The solution to this is we need to checkout a particular version of the google DP library. Because on every commit, if they change something, it breaks everything for us.

[2020-06-16 20:16] tcp opened #187 "Add support Slack channel links to main readme file"
## Where?
Main readme

## Who?
All contributors

## What?
Users of this library should have a good idea of where to get support within Slack so that the general channel does not become a place for people dropping software implementation problems. Please add the following section somewhere in your readme:

[code]

When finished, it should look exactly as it does here: https://github.com/OpenMined/.

[2020-06-16 21:16] shaistha24 commented on #187
Hi @tcp to allow all-contributor to work we need to install and add it to the project first!
 @chinmayshah99 could u pls look into this? After that adding contributors is easy - pls check - how it works -section here https://allcontributors.org/

[2020-06-17 05:36] chinmayshah99 commented on #187
@shaistha24 Can we add the Support section as @tcp suggested?

[2020-06-17 09:40] #184 closed, assigned to chinmayshah99

[2020-06-17 12:14] shaistha24 commented on #187
Yes @chinmayshah99

Also need to install and add all-contributor to the project for contributors section.

@tcp i think we need to add it individually to each openmined project right? Or has it already be attached to OpenMined on the whole?!

[2020-06-17 12:51] shaistha24 commented on #187
@tcp I have added the support section. Here - https://github.com/OpenMined/PyDP/pull/186

As for the logo the DP team is working with the design team on that!

[2020-06-19 19:30] codeboy5 commented on #187
We need to add it separately for each project.

[2020-06-21 11:28] #163 closed, assigned to nobody

[2020-06-22 12:32] bicycleman15 commented on #183
@shaistha24 are you still working on this ? I was really interested on working this issue.
If you are still working maybe we can collaborate ?

[2020-06-22 14:43] #120 closed, assigned to chinmayshah99

[2020-06-22 15:46] #92 closed, assigned to vishalsubbiah

[2020-06-23 00:55] shaistha24 commented on #183
@bicycleman15 yes i am working on the jupyter notebook example for this issue.

Yes, we can definitely collaborate, if possible it would be great if you could start working on the .py code example for the same... Just like we had py code implementation for the carrot demo.

Is that ok? @bicycleman15

What is ur slack handle?! Pls reach out on slack for further discussions.

[2020-06-24 20:25] chinmayshah99 opened #191 "Support on Local conda"
## Feature Description
In case the device already has conda, one should create the local env there and do all the configuration rather than create a new pipenv.

[2020-06-24 20:27] chinmayshah99 opened #192 "Move from tox to pytest"
## Description
For python testing:

We don't need tox anymore as most of our stuff is automated using pytest. And in github actions, each tests are run individually in different python containers, thus pytest would suffice our need.

[2020-06-27 12:22] chinmayshah99 commented on #183
Hey @bicycleman15 how is it coming along?

[2020-06-28 08:07] bicycleman15 commented on #183
@chinmayshah99 Yes I am working on it, will make a PR soon. 👍

[2020-06-28 20:38] ghost commented on #187
addressed

PR added

[2020-06-28 20:45] chinmayshah99 commented on #187
Closing the issue as it's causing confusion. #186 fixes this

[2020-06-28 20:45] #187 closed, assigned to nobody

[2020-06-28 21:21] jeamick commented on #174
hello @replomancer,

I will try to look at it.

JM

[2020-06-29 11:08] tcp commented on #187
Hi everyone! I'm late to this party :)

@chinmayshah99 the only qualm I have is that the `Join Us` section does not point to the channel in Slack. Could you please add this? Don't forget to add the link to each of the Slack channels :)

[code]

[2020-06-29 11:59] chinmayshah99 commented on #187
@shaistha24 please take care of this.

[2020-07-06 18:02] alejandrosame commented on #171
I'll work on this.

[2020-07-06 23:07] replomancer opened #195 "Allow setting l0_sensitivity and linf_sensitivity parameters (SetMaxPartitionsContributed, SetMaxContributionsPerPartition)"
## Feature Description
Algorithms in PyDP are currently using default values of 1 for l0 sensitivity and linf sensitivity.
The library user needs a way to set these parameters.

## Is your feature request related to a problem?
Restaurant demo cannot be ported to the current version of PyDP with the default l0 sensitivity.

## Additional Context
For now these methods are probably enough to use in P

[2020-07-07 05:55] chinmayshah99 commented on #195
This seems fairly simple to add.

[2020-07-09 10:52] chinmayshah99 commented on #192
Work can be picked up from #193 since the person can't take it forward https://github.com/OpenMined/PyDP/pull/193#issuecomment-655950659

[2020-07-09 11:21] alejandrosame commented on #192
I can take it from here, since it is also raising an error when following Docker instructions:

[code]

[2020-07-19 11:31] #137 closed, assigned to nobody

[2020-07-21 19:40] #192 closed, assigned to nobody

[2020-07-22 11:39] BenjaminDev commented on #112
@leclair-7 I have access to a windows machine and can look at into this tonight. Are there any learnings you can share that might assist me?

[2020-07-22 14:14] chinmayshah99 commented on #112
Hey @BenjaminDev,
Here is the stuff @leclair-7 tried. Some of this might not be relevant  (make sure you understand our build process).

Pls note that the reason we are doing this exercise is that we want to release the package for windows machine, so the goal is to generate a .dll file and integrate it into setup.py

[code]

[2020-07-23 21:40] BenjaminDev commented on #112
There are a few blockers with the windows build:

1. `copts = ["-Wno-sign-compare"],` are not supported on windows. This is a minor issue and we can simply remove them and it all works. I am unsure the best way to resolve this - if you use bazel on windows I'd love to hear ideas.
2. The SHA that we are using includes [`#include <libgen.h>`](https://github.com/google/differential-privacy/blob/b7f4c

[2020-07-23 22:20] chinmayshah99 commented on #112
For 1, https://github.com/google/differential-privacy/issues/18, your solution seems the way to go right now.

For 2 and 3, what if temporarily remove logging and try to atleast build. We can see later on what can be done depending on the need of the logging module (we can also write our own custom codebase for same)

[2020-07-25 14:06] alejandrosame commented on #150
I'll work on this!

[2020-07-28 21:41] chinmayshah99 opened #204 "Test datatype for when passed for compuation"
## Description
When we call the result function, we just pass the python list as it is.
[code]

What would be great is mention the datatype of the list in another argument,
`x.result([1,2,3,4], 'int')
`
We want the new function definition to have the datatype as one of the argument, with float as the default argument.
Note: The function definition of result below is for representation purpose and

[2020-07-28 21:49] chinmayshah99 commented on #107
@em-blue We're thinking of using https://www.sphinx-doc.org/en/master/usage/quickstart.html for documentation as it already has in-write support with python code/ pybind11.

So this requires writing documentation in rst. Was wondering if @OpenMined/writing has a better suggestion?

[2020-07-29 12:57] codeboy5 commented on #204
Are we planning to do this for every function ?

[2020-07-30 08:19] chinmayshah99 commented on #204
Yes

On Wed, 29 Jul 2020 at 18:28, Saksham <notifications@github.com> wrote:

--
Regards

Chinmay Shah

[2020-07-30 20:16] chinmayshah99 opened #207 "Introduction to DP"
## Where?
Part of our documentation

## Who?
Someone looking into pydp for the first time

## What?
- Introduction of DP from the basic concepts to technical explanation. // might include pictorial explanation
- Where one can learn ahead
- Application of DP
- Where is it currently used

## Additional Context
Borrowing some text from the DP blog series?

[2020-07-30 21:05] chinmayshah99 opened #208 "PyDP Introduction"
## What?
Introduction to PyDP and what we are we trying to do, including features.

## Additional Context
Add any other context about the problem here.

[2020-07-30 21:07] chinmayshah99 opened #209 "Laplacian mechanism introduction"
## Who?
Developer who's trying to understand what does it mean when you select laplacian

## What?
Explanation of what choosing Laplacian mechanism for DP means and underlying assumption as well as recommendations on how noise is added and what type of data is desirable.

## Additional Context
recommend working actively with research team

[2020-07-30 21:09] chinmayshah99 opened #210 "Contribution guidelines"
## Who?
Someone who wants to contribute

## What?
Contribution guidelines on how to get started with this repo to pushing your first PR.

## Additional Context
Add any other context about the problem here.

[2020-07-30 21:17] chinmayshah99 opened #211 "Bounded Functions"
## Who?
Developer, Researchers

## What?
Explanation of how bounded functions are calculated
- A theoretical understanding of how bounded functions
- Practical idea on how to select bounds

## Additional Context
Someone from research team should take on this, with writing team helping in polishing.

[2020-07-30 21:20] chinmayshah99 opened #212 "Feature Request Guide"
## Who?
Researchers, Developers

## What?
Give a brief context of OM development cycle and how to request for a feature/ functionality.

## Additional Context
Add any other context about the problem here.

[2020-07-30 21:22] chinmayshah99 commented on #48
How to submit PR, and guidines on what how PR should be shaped would be something we are looking for in this; can be part of contributing
#210

[2020-07-30 21:22] chinmayshah99 commented on #42
#210

[2020-07-30 22:06] chinmayshah99 opened #213 "Geometric Distribution Ratio tests failing"
## Description
https://github.com/OpenMined/PyDP/blob/dev/tests/algorithms/test_distributions.py#L107
Running this test for Geometric Distribution ratios generates output which exceeds the +-1 threshold by 0.01-0.03. Need to verify whether this issue is in the data generation process(underlying code).

## Expected Behavior
The test should pass

[2020-07-31 07:28] davidmt1997 commented on #210
I would like to work on this if possible

[2020-07-31 08:08] chinmayshah99 commented on #210
Sounds good, waiting for your PR :)

Cheers,
Chinmay

On Fri, Jul 31, 2020, 12:58 davidmt1997 <notifications@github.com> wrote:

[2020-07-31 10:38] chinmayshah99 commented on #210
You can take inspiration from our existing contributing.md: https://github.com/OpenMined/PyDP/blob/dev/contributing.md

[2020-07-31 10:39] TravellerOnCode commented on #207
Hi, I am willing to take this issue.

[2020-07-31 11:11] davidmt1997 commented on #210
Thank you!

[2020-07-31 16:52] chinmayshah99 opened #214 "Reorganization of Carrots Demo"
## Where?
Where are you looking to add documentation? Which file? Which feature?

## Who?
Who is your audience for this documentation issue?

## What?
The current demo https://github.com/OpenMined/PyDP/blob/dev/examples/1.1%20-%20Introductions%20to%20PyDP.ipynb is just a bunch of code and the underlying readme. We want to integrate them into this notebook.

The motivation is we are gonna add a bun

[2020-08-01 07:05] codeboy5 commented on #204
I can take this up, I will try to add them for the util functions first and we can expand from it If everything works as expected .

[2020-08-01 10:23] codeboy5 opened #215 "Clang-format Not Working"
## Description
After adding the `clang-format` as a dependency in pipfile, there seems to be a issue while installing It.

## How to Reproduce
Run the `build_PyDP.sh` script.

## Expected Behavior
The package should install without giving any error.

## Screenshots
<img width="1678" alt="image" src="https://user-images.githubusercontent.com/40931412/89099711-e849c200-d40e-11ea-9e0b-656aba12e512.pn

[2020-08-01 10:26] ghost commented on #214
I want to work on this

[2020-08-01 10:29] chinmayshah99 commented on #215
This is due to clang-format only available on Linux: https://pypi.org/project/clang-format/#files

[2020-08-01 13:55] ghost commented on #214
PR opened

[2020-08-01 18:12] #214 closed, assigned to nobody

[2020-08-01 19:23] chinmayshah99 commented on #174
hey @replomancer, I'm finding it difficult to replicate.
I tried doing it on [google collab](https://colab.research.google.com/drive/1M2p45QpG_wrc4a5aTznlBa_4XJAD8_Tz?usp=sharing) and I can't allocate this array itself.

On my local machine too, I could not load this array.
I suspect what might have happened is the RAM has almost reached it's limit and thus next operation is killed if sufficient m

[2020-08-02 10:04] #215 closed, assigned to codeboy5

[2020-08-02 10:04] #195 closed, assigned to chinmayshah99

[2020-08-02 19:42] replomancer opened #220 "Issues when building Docker image: wrong git commit id in Dockerfile and pipenv ResolutionFailure"
## Description
Building the Docker image stops with:
[code]
I can't find this commit id: d9f9215deec7f6bc85b1076a220dc83795cb0be8 in the differential-privacy repository.
This step is fixed when I substitute the id for 9923ad4ee1b84a7002085e50345fcc05f2b21bcb (latest one), but I quickly get a different error:

[code]

I need to comment out `black = "*"` in the Pipfile to continue. It builds fine th

[2020-08-02 20:09] chinmayshah99 commented on #220
That's weird since it is a tree: https://github.com/google/differential-privacy/tree/d9f9215deec7f6bc85b1076a220dc83795cb0be8'

I think they have removed it from commit history probably.

[2020-08-02 20:10] chinmayshah99 commented on #220
Yeah there are issues with black, since it's still in pre-release. We need to figure out the way to do it. Maybe add a -pre flag ?

[2020-08-04 20:47] ghost commented on #208
I want to work on this!

[2020-08-05 12:01] #220 closed, assigned to nobody

[2020-08-06 15:16] BenjaminDev commented on #112
### Update:

We have a functioning (but shaky) build on windows. If you would like to test/play with it please do and report issues here not as a new issue as it's a unofficial wheel "among friends":wink:

To test (python 3.8):
1. `PS:> cd /to/a/tmp/directory`
2. `PS:> python -m venv .venv`
3. `PS:> .\.venv\Scripts\activate`
4. `(.venv)PS:> python -m pip install https://github.com/BenjaminDev/PyDP

[2020-08-06 16:44] em-blue commented on #207
@chinmayshah99 does this go on the blog or into documentation? just wondering, don't want to duplicate efforts with the privacy series (@Kritikalcoder is leading the DP section of this) https://github.com/orgs/OpenMined/projects/31

[2020-08-06 17:03] chinmayshah99 commented on #207
Hey @em-blue, @TravellerOnCode did share a draft with me.
We can include the part that's going in blog to be included in the documentation.

As a matter of fact, we would love the content that's going in the blog to be included in the documentation and redirect the them to the blog for detailed reading. The only constraint is we want the most of the stuff to be ready before the stable release.

[2020-08-07 10:11] replomancer commented on #174
Main point is there is currently no way to feed more data to PyDP algorithms.

The `result` method expects a list, so you have to build it first (big list may crash your interpreter).
There is no way to use an iterable or add data in batches.

Adding data in batches is the way C++ library handles big data: if your data doesn't fit into memory or a datastructure you just add it piece by piece calli

[2020-08-07 18:31] devansh1305 opened #226 "AttributeError: module 'pydp' has no attribute 'StatusOrO'"
## Description
I am getting this error when I try to execute the carrots.py example

## How to Reproduce
1. Go to "PyDP/examples/"
2. Run "Python3 carrots.py"

## Expected Behavior
It should run carrots.py displaying all stats

## Screenshots
![image](https://user-images.githubusercontent.com/30989930/89676982-94c9ef00-d8ba-11ea-8da8-da6a1b28099f.png)

## System Information
 - OS: Ubuntu 18.04.4 L

[2020-08-07 21:15] chinmayshah99 commented on #174
Yeah, we are thinking of adding the Add entries method real soon! Thanks
for pointing that out.

Regards

Chinmay Shah

On Fri, Aug 7, 2020, 15:41 Łukasz Kożuchowski <notifications@github.com>
wrote:

[2020-08-07 21:58] chinmayshah99 commented on #226
Hey @devansh1305,
Thanks for noting this out. For now, will mostly remove this StatusORO dependency.

[2020-08-11 21:56] chinmayshah99 opened #233 "Custom Error implementation"
## Feature Description
Right now when an error occurs during result/ any other method, we are simply raising a runtime error. Though, we are getting a lot of information from the `base::StatusOR`.
We already have an implementation of [statusor](https://github.com/OpenMined/PyDP/blob/dev/src/bindings/PyDP/base/status.cpp).

It would be great if we can integrate this runtime error to this statusor s

[2020-08-11 21:57] chinmayshah99 commented on #226
The module is worthless standalone, but integrated as mentioned in #233 would serve utility.

[2020-08-11 21:57] #226 closed, assigned to nobody

[2020-08-11 22:02] chinmayshah99 opened #234 "Linking of documentation version with setup.cfg"
## Description
Using bumpversion, we are able to change the version of python version throughout the codebase. It would be great if we could add  version number in the [documentation](https://github.com/OpenMined/PyDP/blob/dev/docs/conf.py#L66) to [setup.cfg
](https://github.com/OpenMined/PyDP/blob/dev/setup.cfg#L1)

### Additional info
Check on how [bumpvesion](https://pypi.org/project/bumpversio

[2020-08-12 09:29] jandremarais commented on #234
Hi, I haven't used bumpversion before but would like to help. Do I understand correctly that you want to add a file specific configuration for docs/conf.py to setup.cfg like this:
[code]
?

[2020-08-12 13:54] jandremarais commented on #234
As suggested by @BenjaminDev, the other option is just to replace `version=u"0.1.1` with `version=pydp.__version__` and similarly for `release` (in docs/conf.py). The docs build as expected with it configured this way. Which solution do you think is best?

[2020-08-12 18:48] #234 closed, assigned to nobody

[2020-08-16 12:17] chinmayshah99 opened #251 "Add mypy to tests"
## Feature Description
All python code is made mypy complaint. It would be great if we could add mypy tests as part of github actions.

## Is your feature request related to a problem?
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## What alternatives have you considered?
A clear and concise description of any alternative solutions or features you've

[2020-08-16 16:32] 8bitmp3 commented on #208
@oudarjya718 when you're done, let me know - I can help with reviewing the doc. If you need some assistance during writing - ping me 👍 Cheers!

[2020-08-16 16:34] 8bitmp3 commented on #207
@TravellerOnCode @em-blue If you need some assistance during writing - @ me in your PR 👍 I can also help finish with polishing the differential privacy intro in line with best practices. Happy to help y'all. Cheers! cc @chinmayshah99

[2020-08-16 16:47] ghost commented on #208
@8bitmp3  OK sure!

[2020-08-16 19:39] em-blue commented on #207
@8bitmp3 - amazing, thank you! @chinmayshah99 will keep you in the loop. By the way, I think there's a lot around OpenMined you'd be interested in, want to join us on slack? http://slack.openmined.org

[2020-08-17 20:38] zzzuzum commented on #209
Hi, I'll take this.
Any specific place where this should be written?

[2020-08-17 21:15] #150 closed, assigned to alejandrosame, chinmayshah99, BenjaminDev

[2020-08-17 21:29] chinmayshah99 commented on #209
It needs to be put in the /docs folder.
@Kritikalcoder seems to be already researching on it. Maybe reach out to her on slack?

[2020-08-17 21:29] alejandrosame commented on #171
After the refactor made with #249 the tests were also updated.

[2020-08-17 21:29] #171 closed, assigned to alejandrosame

[2020-08-17 21:34] chinmayshah99 commented on #204
We have already added datatype in #249 . We just need to make sure we do the cast, at the same time raise a warning.

[2020-08-17 21:35] #18 closed

[2020-08-17 21:35] #19 closed

[2020-08-17 21:35] #20 closed

[2020-08-17 22:10] alejandrosame opened #256 "Add code coverage reports"
## Description
After the last code refactor, the PyDP starts having meaningful Python code. It is desired to add code coverage reports for Python and explore whether it is possible to report C++ bindings coverage without repeating tests.

## Type of Test
- [ ] **Python test coverage report**
- [ ] **C++ test coverage report** (if possible)

## Expected Behavior
We would like to run a command like

[2020-08-17 22:16] alejandrosame opened #257 "Add CI checks that enforce minimum code coverage"
## Description
Once code coverage gets introduce in the project via #256, we

## Type of Test
- [ ] **CI test** (e.g. at least 90% of code should be covered by tests)

## Expected Behavior
When a contributor pushes new code, the PR should fail if the new contribution does not pass the coverage test action.

[2020-08-18 05:23] chinmayshah99 opened #259 "Add OSX tests in Github Action for every PR"
## Feature Description
Our current tests on each commit are only checked on Linux. But sometimes things are broken for OSX in the process. We need to add it as parts of tests for each commit.

## Is your feature request related to a problem?
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## What alternatives have you considered?
A clear and concise de

[2020-08-18 05:34] chinmayshah99 opened #260 "Add Docerkfile tests in Github Action for every PR"
## Feature Description
Our current tests on each commit are only checked on Linux. But sometimes things are broken for Dockerfile in the process. We need to add it as parts of tests for each commit.

## Is your feature request related to a problem?
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## What alternatives have you considered?
A clear and con

[2020-08-22 13:56] alejandrosame opened #263 "Calling result() when privacy budget is 0 should return a Python exception"
## Description
Right now, when we call `result()` after using all the privacy budget of an algorithm, the library raises C++ errors, potentially killing the Python session.

## How to Reproduce
From an interactive session execute:
[code]

## Expected Behavior
When calling `result()` once the privacy budget is completely used, we should raise a ValueError.

[2020-08-22 15:26] #256 closed, assigned to alejandrosame

[2020-08-22 15:26] #257 closed, assigned to alejandrosame

[2020-08-22 15:27] #126 closed, assigned to nobody

[2020-08-22 15:30] #179 closed, assigned to nobody

[2020-08-22 15:33] chinmayshah99 commented on #107
Done here:
#207 , #208 , #209 , #210 , #211 , #212

[2020-08-22 18:31] Vishwaak commented on #260
@chinmayshah99 Can I work on this? If I am right I need to build the docker file for every commit and check the docker image integrity right? This need to added as part of the test.yml file?

[2020-08-22 18:33] chinmayshah99 commented on #260
Hi @Vishwaak, this can be added as a new .yml file.

[2020-08-22 18:56] alejandrosame opened #265 "Optimise tests"
## Description
Currently, our tests are starting to take too long for fast iteration. In order to improve this situation we could try to leverage serde features and introduce fixtures to speed up the set up of algorithm testing.

## Are you interested in working on this improvement yourself?
- Yes, I am.

[2020-08-22 22:22] Vishwaak commented on #260
@chinmayshah99 There seems to a dependence issue when I build the docker image.
`[pipenv.exceptions.ResolutionFailure]: Warning: Your dependencies could not be resolved. You likely have a mismatch in your sub-dependencies.
  First try clearing your dependency cache with $ pipenv lock --clear, then try the original command again.
 Alternatively, you can use $ pipenv install --skip-lock to bypass th

[2020-08-22 22:38] chinmayshah99 commented on #260
In the docker file, can you try adding `pipenv lock --pre`?

[2020-08-23 18:53] Vishwaak commented on #260
@chinmayshah99 That error was due to Black module When we hardcode the module's version then the Docker image seems to be building. So shall I hardcode the Black module version?

[2020-08-23 18:55] chinmayshah99 commented on #260
Yes, please use the latest availabe version of black.

[2020-08-24 20:52] replomancer opened #268 "Passing float("NaN"), float("inf") or float("-inf") as lower/upper bounds crashes the interpreter"
## Description
When I instantiate some algorithms with `NaN` as a bound, Python crashes:
[code]
I see the same result with `dp.BoundedMean(0.1, float("NaN"), 10.0, dtype="float")` (lower bound set to `NaN`)
and also with `BoundedSum`.

## How to Reproduce
See above example.

## Expected Behavior
When I try to pass `NaN` as epsilon I get an exception without a crash. It should be the same with lowe

[2020-08-24 21:08] replomancer commented on #268
I have the same result when I pass infinity, but one infinity is not enough to crash the interpreter. Two are needed:
[code]
`float("-inf"), float("-inf")` also breaks things.

[2020-08-26 09:01] chinmayshah99 opened #270 "Change SHA of sub-module across all files"
## Description
When we change the SHA version of Google's DP library, we need to change the hash to a bunch of files from pre-reqs to github actions. It has been noticed that sometimes we are missing some of these files.

It would be great if we could integrate this with either setup.cfg or maybe some bash script to update all the SHAs. On how to update this SHA, we are open to further ideas.

[2020-08-26 09:35] #260 closed, assigned to nobody

[2020-08-27 10:42] alejandrosame opened #275 "Take into consideation bazel upgrade"
## Description
I just noticed bazel is has move a lot in the last couple of months. We should take into account whether it is worth upgrading or not.

## Are you interested in working on this improvement yourself?
- Yes, I am.

[2020-08-27 16:45] #263 closed, assigned to alejandrosame

[2020-08-27 21:19] #174 closed, assigned to nobody

[2020-08-27 21:20] #268 closed, assigned to alejandrosame

[2020-08-27 22:44] thefirebanks opened #276 "Count class constructor is missing some arguments"
## Description
Count class constructor is missing some arguments, such as `l0_sensitivity`, in [line 10](https://github.com/OpenMined/PyDP/blob/dev/pydp/algorithms/laplacian/_count.py#L10.).

## How to Reproduce
Try to initialize a Count instance with `l0_sensitivity`:
[code]

We get a TypeError:

[code]

## Expected Behavior
The MetaAlgorithm superclass supports many kwargs, we should include the

[2020-08-28 14:57] chinmayshah99 opened #277 "Moving from Pipenv to Poetry"
## Description
Poetry is a much better package manager compared to pipenv, with similarity to package manager in rust & npm. We could migrate. Open to discussions.

## Additional Context
Poetry: https://python-poetry.org/

[2020-08-28 15:05] alejandrosame commented on #277
I'm ok with making a test branch with Poetry tooling to see if it works better for us. Pipenv certainly isn't up to what they promise (yet), it gets too much in the way for little gain.

I don't discard either falling back to plain venv and simply providing targets/actions with our Makefile.

[2020-08-28 16:04] BenjaminDev commented on #270
Alternative:
Removing the "hard coded" submodule sha in all places and simply let `git submodule` do all the work. I'd be happy to track down all places we explicitly use the SHA and remove it and replace that workflow with the appropriate `git` and `git submodule` command.

If such a solution would be considered I'll happily put in a PR for comments.

[2020-08-28 17:50] #276 closed, assigned to chinmayshah99

[2020-08-28 17:51] chinmayshah99 commented on #277
Sounds lika a plan.

Regards

Chinmay Shah

On Fri, Aug 28, 2020, 20:35 Alejandro Sánchez Medina <
notifications@github.com> wrote:

[2020-08-28 18:16] 8bitmp3 commented on #107
@chinmayshah99 Shall we put/duplicate this Issue in GitHub Projects, since there are a few moving parts here? Then we can assign people and track progress in a "better UI"

[2020-08-28 18:18] chinmayshah99 commented on #107
PyDP team doesn't use GitHub projects yet, but it would probably be a good idea.

[2020-08-31 13:03] 8bitmp3 opened #282 "Sphinx in Markdown for improved contributing UX"
Suggestion: Use a Markdown extension in Sphinx, as explained in `https://www.sphinx-doc.org/en/master/usage/markdown.html`, so that we don't have to duplicate work by migrating Markdown to reStructuredText. Example: @chinmayshah99 's https://github.com/OpenMined/PyDP/commit/ac3885f3cdfe5687f1c49b013c4de285b5896c67).

[2020-09-01 05:15] Frank-7 opened #286 "Add extra index for the Algorithms, Distributions and Util"
## Where?
They need a collapsible tree on the left displaying each of them and adding capabilities to browse them directly.

## Who?
Users

## What?
Add browsing capabilities on the index panel to be able to get to each of the algorithms, distributions and util directly.

[2020-09-01 17:41] NateSolon commented on #209
I am working on a Jupyter notebook demo of the Laplacian mechanism, I'm hoping this can be a useful supplement to the documentation: https://github.com/OpenMined/writing/issues/110

[2020-09-04 17:01] #112 closed, assigned to nobody

[2020-09-04 17:01] #111 closed, assigned to nobody

[2020-09-04 17:02] chinmayshah99 commented on #259
Fixed in #280

[2020-09-04 17:02] #259 closed, assigned to nobody

[2020-09-04 17:04] #207 closed, assigned to nobody

[2020-09-04 23:17] 8bitmp3 commented on #282
@chinmayshah99 Since more users are probably familiar with Markdown and may feel more comfortable contributing to .md files, let's test the Markdown extension in Sphinx and then start converting reStructuredText files, such as https://github.com/OpenMined/PyDP/blob/dev/docs/introduction.rst.

[2020-09-05 21:45] NateSolon opened #288 "Cannot Import Library on Mac"
## Description
When I tried to run the carrets_demo notebook, I was unable to import pydp.

[code]

## How to Reproduce
1. Clone PyDP repo.
2. Install PyDP with `pip install python-dp`. I also tried `python -m pip install python-dp --force-reinstall`.
3. Try to run `import pydp as dp`.

## Expected Behavior
The library imports without error.

## System Information
 - OS: macOS
 - OS Version: Mojav

[2020-09-05 22:21] chinmayshah99 commented on #282
For conversion, an online tool should do the trick.
We need to add the code in build sphinx so it can support markdown.

Regards

Chinmay Shah

On Sat, Sep 5, 2020, 04:47 8bitmp3 <notifications@github.com> wrote:

[2020-09-06 12:37] 8bitmp3 commented on #288
Hi @NateSolon, are you by any chance running PyDP in a separate [virtual environment](https://stackoverflow.com/questions/23948317/why-is-virtualenv-necessary) to have the packages localized to your PyDP projects?

To replicate your issue, I set up a separate new `virtualenv` on macOS with Python 3.7, activated it, then ran `pip3 install python-dp`. The library worked OK when running `import pydp

[2020-09-06 12:56] chinmayshah99 commented on #288
Hi @NateSolon ,
Thanks for reporting this. Our CIs use the latest OSX for building and release. While we investigate and find a way to solve this, can you try building it from the source.
What you'll need to run is:
[code]
Or, what you could do is directly use Google Collab or Docker.

[2020-09-13 11:35] chinmayshah99 commented on #288
The simplest solution is to move our release version to OSX 10.13.
OSX is a forward-compatible OS and hence this should do the trick.
One can try making this change here: https://github.com/OpenMined/PyDP/blob/dev/.github/workflows/pypipublish_osx.yml#L9.
But this needs to be tested.

If someone can edit it on their folk and upload on the test.pypi server to demonstrate if this works, it would be

[2020-09-13 11:47] alejandrosame commented on #41
Should this issue be closed or updated with new requirements?

[2020-09-13 11:50] alejandrosame opened #289 "Introduce scripts for common tasks"
## What?
We need to align all files that make similar setup and testing tasks.

## Why?
Currently, we make similar tasks in different environments. For example, we have repeated code for setup https://github.com/OpenMined/PyDP/blob/dev/Dockerfile#L36, https://github.com/OpenMined/PyDP/blob/dev/.github/workflows/pypipublish_osx.yml#L18, https://github.com/OpenMined/PyDP/blob/dev/prereqs_linux.sh#L5

[2020-09-13 12:11] alejandrosame opened #290 "Add inline documentation to admin/setup files"
## Where?

- [ ] Bazel WORKSPACE and BUILD files

- [ ] Makefile

- [ ] Scripts

- [ ] General overview on contribution guidelines

## Who?
Contributors and repository maintainers.

## What?
Add more comments/reasoning around configuration files to aid contributions to the repository.

## Additional Context
This issue should be worked on after #289 refactor.

[2020-09-13 12:21] alejandrosame opened #291 "Move pydp folder under src"
## What?
Python code now lives under **./pydp**, leaving our source code distributed over 2 folders.

## Why?
All source code should be under **./src** folder. In order to have a clean repository, we might need to restructure folders inside **./src** and refactor the way the bindings are made. However, it shouldn’t be too much of a drastic change (mostly folder renaming, with its corresponding baz

[2020-09-13 12:27] alejandrosame opened #292 "Get rid of Pipenv"
## What?
For our use case, Pipenv introduces several problems for little gain. We should check how to substitute it.

## Why?
Substituting pipenv means that we need to change code in several setup/admin files. The options considered are:

- [ ] Check moving to Poetry -> #277
- [ ] If Poetry proves to be also problematic, fallback to **pip+venv** and provide Make targets to make them easy to use an

[2020-09-13 12:47] alejandrosame opened #293 "Test Dockerfile installation"
## Description
Run tests on containers created through the officially provided Dockerfile.

## Type of Test
- [ ] **Unit test** (e.g. checking a loop, method, or function is working as intended)
- [x] **Integration test** (e.g. checking if a certain group or set of functionality is working as intended)
- [ ] **Regression test** (e.g. checking if by adding or removing a module of code allows other

[2020-09-13 12:56] alejandrosame opened #294 "Test notebooks"
## Description
When developing the codebase, it is easy for notebooks to become outdated. We should add test to our CI that warn us when notebooks stop working due to API changes. This is crucial, since notebooks are important pieces of documentation.

## Type of Test
- [ ] **Unit test** (e.g. checking a loop, method, or function is working as intended)
- [x] **Integration test** (e.g. checking if

[2020-09-13 12:57] alejandrosame opened #295 "Revise testing"
## Description
Our current tests vary a lot in style and scope. Some of the tests also take a significant amount of time to be comfortable to run locally during development.

## Expected Behavior
Separate current tests based on type (unit, integration, validation, etc) when appropriate. Optimise by using fixtures when testing requires heavy data setup. Include changes in testing guidelines.

## Ad

[2020-09-13 13:06] alejandrosame opened #296 "Standardize library documentation"
## Where?
Python docstrings and PyDP official documentation.

## Who?
Intended audience is PyDP users.

## What?
- [ ] Unify documentation style.
- [ ] Provide clear documentation guidelines for contributors

## Additional Context
- See https://github.com/OpenMined/PyDP/pull/252#issuecomment-687927537
- https://github.com/OpenMined/PyDP/issues/107

[2020-09-13 13:12] alejandrosame opened #297 "Update repository documentation"
## Where?
README files.

## Who?
Intended audiences are users and contributors.

## What?
Before finishing the milestone, we need to update the repository documentation and guidelines reflecting all the changes made.

## Additional Context
This task should be worked on after #289, #290, #291, #292, #295 and #296 are finished.

[2020-09-13 14:49] 8bitmp3 commented on #297
Thanks @alejandrosame

VSCode has some nice linting features: https://code.visualstudio.com/docs/python/linting and https://code.visualstudio.com/docs/python/linting#_pydocstyle

Maybe you can also get GitHub to run checks at every PR via `.github/workflows/ci.yaml`.

[2020-09-13 14:59] alejandrosame commented on #297
@8bitmp3 Makes absolute sense. We already run style checks through black, but that does not include docstring linting.

Thank you!

[2020-09-13 22:15] madhavajay commented on #288
Just some additional context to help with this ticket.

I believe all that is needed is to set the MACOSX_DEPLOYMENT_TARGET environment variable during build time.
Like:
[code]

I found this project which makes cross platform builds on CI easy:
https://github.com/joerick/cibuildwheel

But, looking at the docs and source code it looks like the thing you need is that ENV flag from above:
https://git

[2020-09-14 07:13] chinmayshah99 commented on #288
The OS name seems to be enough for the same. Consider the example of tf here:  https://pypi.org/project/tensorflow/#files

[2020-09-14 07:15] chinmayshah99 commented on #296
Following [#252 (comment) ](https://github.com/OpenMined/PyDP/pull/252#issuecomment-687927537) should do the trick.

[2020-09-14 07:18] chinmayshah99 commented on #291
Note: This would require playing with bazel configuration. Familiarity with bazel (or willingness to learn about bazel features) is a must.

[2020-09-14 07:41] chinmayshah99 commented on #41
While #291 talks about organizing the source code, we also need to identify how will we organize the python modules, as we add more modules. Are we going to follow `algorithms.__noise_mechanism__.function` or should we think of a different approach?

But for all practical purposes at least for now, this issue does not serve utility.

[2020-09-14 07:41] #41 closed

[2020-09-14 07:43] chinmayshah99 commented on #296
Documentation style is compiled by @shaistha24.
Once we have that ready, this should be available for grab.

[2020-09-14 22:11] edwardelson commented on #294
Hi @alejandrosame I wonder if you're working on this? Or are you open for newbies like me to try and tackle this?
Where do you want to park the notebook tests? Under tests/algorithms? or create another folder?

I created a file in tests/notebooks/test_carrots.py containing this:

[code]

basically just to run carrots_demo.ipynb when doing py.test. Although maybe need to add assert certain values i

[2020-09-14 23:07] alejandrosame commented on #294
@edwardelson you are more than welcomed to work on the task!

As far as I can tell, all notebooks are under *./examples* and every future notebook should also en up somewhere under that folder (@chinmayshah99, just to double check).

What I had envisioned was a generic version of that script that:

1.  Takes as an env parameter paths to search for notebooks.
2.  Searches for the notebook files (th

[2020-09-14 23:09] alejandrosame commented on #294
On another hand, you raise an important point with:

Since notebooks are prepared with an expected outcome in mind, they can serve as additional regression/validation tests. However, I find it worth creating a separate issue due to workload (it will require changing current notebooks and documenting in guidelines so future contributors can apply it to new notebooks).

Whatever the possible solutio

[2020-09-15 09:36] replomancer commented on #209
I read and executed your notebook @NateSolon  Very clear and easy to follow! I think we should at least include a link to it somewhere in PyDP docs.

[2020-09-15 15:42] edwardelson commented on #294
I've submitted a PR @alejandrosame. Not sure how to encode the path in env though (still hardcoded the example/ path), need your advice.

Yes I agree that notebook validation test would probably be another interesting issue. Maybe we can use papermill to inject values and check the output of these notebooks without adding plenty of assertions in the notebook? (I've never used papermill yet though

[2020-09-15 19:48] chinmayshah99 commented on #294
Is this similar to `hypothesis`?

[2020-09-16 21:24] chinmayshah99 opened #299 "Add PostgreSQL support"
## Description
Right now, to load data into pydp, the way to use load it manually using pandas or some other method and then apply DP operations by passing it to a list.
A good way to use is to enable postgres support within DP so you don't have a scope of opening up a list.

In google's repo, they have added a [postgres extesnsion](https://github.com/google/differential-privacy/tree/main/cc/postg

[2020-09-16 21:32] chinmayshah99 opened #300 "New Tutorial: Demonstrate DP on DataWarehouse"
## Feature Description

We have identified one [data-warehouse](https://github.com/microsoft/sql-server-samples/tree/master/samples/databases/adventure-works/data-warehouse-install-script) belonging to Microsoft, where they share some personal data in the [customer table](https://raw.githubusercontent.com/microsoft/sql-server-samples/master/samples/databases/adventure-works/data-warehouse-install-

[2020-09-16 21:35] chinmayshah99 opened #301 "Research on Open-DP"
## What?
As part of our new road-map, we want to integrate other noise mechanisms, and [Open-DP](https://github.com/opendifferentialprivacy) seems to be a good place to start.

The research would include how the noise (white noise mechanism + any others?) works, what all does that library support and how can we integrate it with PyDP.

Note: This is open-ended research and the scope of questions m

[2020-09-16 21:41] chinmayshah99 opened #302 "Research on IBM-DP"
## What?
As part of our new road-map, we want to integrate other noise mechanisms, and [IBMDP](https://github.com/IBM/differential-privacy-library) has a lot of functionality from noise mechanisms to ML algorithms.

- Research into different noise mechanisms
- Research into ML algorithms supported.

The research would include how the noise mechanisms works+ ML algorithms, what all does that librar

[2020-09-17 06:58] chinmayshah99 opened #303 "Docs build is failing"
## How to Reproduce
https://github.com/OpenMined/PyDP/runs/1097568856

[2020-09-17 17:37] u-prime commented on #301
I will take this

[2020-09-19 07:31] kamathhrishi opened #304 "Subsample and Aggregate Example"
## Feature Description
I would like to write an example of SubSample and Aggregate mechanism with the existing restaurant example. Further, I would also like to extend it with "Propose-test-Release". Subsample and aggregate is a great and simple method of attaining privacy by splitting the dataset into smaller datasets computing a query and the aggregating them according to aggregation mechanism(m

[2020-09-21 19:07] alejandrosame commented on #294
I mean reading the PATH from an environment variable like shown [here](https://able.bio/rhett/how-to-set-and-get-environment-variables-in-python--274rgt5).

If you find yourself too lost with that part, simply leave the path defined in a variable (instead of directly hard-coded in the function call) and a new task to integrate it with the **.env** file can be filed. However, I encourage you to ask

[2020-09-29 18:20] hershd23 commented on #300
I'd like to take this up if the issue is still available

[2020-10-01 19:47] chinmayshah99 commented on #300
Hi @hershd23 you can take this up! If you have more questions, please free to ping on slack.

[2020-10-01 19:50] chinmayshah99 commented on #304
Let us know when you start working on this so we can get you any resources you need.

[2020-10-01 20:05] #294 closed, assigned to nobody

[2020-10-02 06:09] kamathhrishi commented on #304
Alright. Mostly the end of the month. Thank you.

[2020-10-02 18:23] BenjaminDev commented on #303
I believe the issue is in build_PyDP.sh:
[code]
So we need to update it to:
[code]

[2020-10-04 17:19] BrendanSchell commented on #292
@alejandrosame can I take this on?

[2020-10-04 18:08] alejandrosame commented on #292
@BrendanSchell You are more than welcome to take this task :) If you agree, as it is suggested in the description, we can assign you #277 and you can focus on updating the Makefile to substitute pipenv with poetry to begin with.

I hope to not take too long with #289 so these changes can be tested more seamlessly, but is not a hard requirement, it's mostly for convenience. Otherwise, once you make

[2020-10-04 18:30] BrendanSchell commented on #292
@alejandrosame That sounds good to me - I can take on #277 for now to update the Makefile to try out poetry.

[2020-10-04 18:49] alejandrosame commented on #277
@BrendanSchell will work on this

[2020-10-06 17:55] BrendanSchell commented on #303
@chinmayshah99 this can be closed now I think since it should be resolved by #306

[2020-10-06 20:30] #303 closed, assigned to nobody

[2020-10-10 07:19] Harkirat155 commented on #120
This doesn't yet seem to handled properly and so neither #188 , for that matter.

Requirement already up-to-date: python-dp in [PATH]\python38\lib\site-packages (1.0.0)

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "[PATH]\Python38\lib\site-packages\pydp\algorithms\_algorithm.py", line 126, in result
    return self.__algorithm.partial_result()
RuntimeError: Bin

[2020-10-10 21:01] chinmayshah99 commented on #120
Hi @Harkirat155 ,
Earlier, when this thing used to happen, the python interpreter used to crash, which was what we were trying to solve. Now, it gives a run-time error saying you know what the privacy budget is too less to do this computation.

[2020-10-12 10:48] Harkirat155 commented on #120
Generally speaking, this could be little hefty. (I got that to work, by trial and error)
Anyways, would it be possible to
* incorporate a method within the base class of algorithms, that would suggest a viable range of budget to use with the data on such errors,

This is because  it's getting displayed as an error(hence, there could potentially be a place for an intermediary as was done for the re

[2020-10-12 10:56] chinmayshah99 commented on #120
I think this seems to be a fair enhancement that we should do. Can you
create a new issue with the suggestion?

Regards

Chinmay Shah

On Mon, Oct 12, 2020, 16:18 Harkirat Singh <notifications@github.com> wrote:

[2020-10-12 11:54] alejandrosame commented on #292
Hi @BrendanSchell, how is the task going?

If you have any doubt, do not hesitate to contact us also through Slack, we are quite active there.

[2020-10-12 17:55] BrendanSchell commented on #292
@alejandrosame thanks for checking in! Made the change to the makefile and should have some time to test out later today.

[2020-10-13 20:20] #251 closed, assigned to nobody

[2020-10-14 18:31] grilhami commented on #213
I'll be taking on this one

[2020-10-18 04:52] siddhesh1598 commented on #291
Can I work on this? I am not familiar with bazel, but I would like to learn and work on it.

[2020-10-20 00:06] shaistha24 commented on #210
Hey, @davidmt1997 are you still working on this one? @chinmayshah99 what is being updated here? If you still have something to update could you pls add Hactoberfest label to this one too.

[2020-10-20 00:28] shaistha24 opened #312 "Update the Examples Readme"
## Where?
https://github.com/OpenMined/PyDP/tree/dev/examples

## Who?
Anyone looking for PyDP examples/demo

## What?
Example/demo sub-title with short description and link.

[2020-10-20 00:36] shaistha24 opened #313 "Add Readme for Restaurant Demo"
## Where?
https://github.com/OpenMined/PyDP/tree/dev/examples/restaurant_demo

## Who?
Anyone checking out the Restaurant demo

## What?
Add a description for the audience to understand the demo properly.

## Additional Context
Reference Carrot Demo Readme: https://github.com/OpenMined/PyDP/tree/dev/examples/carrots_demo
Google's readme: https://github.com/google/differential-privacy/tree/main/exa

[2020-10-20 00:55] shaistha24 opened #314 "PyDP Documentation - Add description to the Util"
## Where?
View- https://pydp.readthedocs.io/en/latest/pydp.html#distributions
PyDP Documentation in /doc

## Who?
Contributors and repository maintainers.

## What?
Add a description  for better understanding.

[2020-10-20 19:59] chinmayshah99 commented on #291
Sure, hit us on slack channel `#lib_pydp` if you need anything

[2020-10-20 21:06] mhosankalp commented on #292
Hi,

Can I take this one or it is already been worked upon?

Thanks and Regards,
Sankalp

[2020-10-21 03:10] siddhesh1598 commented on #291
Alright, will do.

[2020-10-21 10:14] alejandrosame commented on #292
Hi @mhosankalp, BrendanSchell is already working on this task!

If you don't find a task to work on, you can always contact us on Slack to see how can we guide you.

[2020-10-21 14:55] Harkirat155 opened #315 "Introduction of an intermediary to suggest a valid privacy budget for available mechanisms"
## What?
Incorporation of a method within the base class of algorithms(or another suitable place), that would suggest a viable range of privacy budget to use with the data on such [errors](https://github.com/OpenMined/PyDP/issues/120#issuecomment-706502980),

## How long?
Anyone with good knowledge of codebase could figure out the specifics and necessary refactoring in appropriately a day or two.

[2020-10-22 02:02] mhosankalp commented on #313
Hi, Can I take this one up?

Thanks and Regards,
Sankalp

[2020-10-22 02:22] LiviaCavalcanti commented on #312
Hi! Sorry, I didn't understand what is to be done. Do new examples have to be added?

[2020-10-22 06:31] shaistha24 commented on #312
@LiviaCavalcanti if you check it the readme is pretty much outdated. Need to update it with all the examples/demos that have been added, with a little description for the viewer to know which example/demo does what.

Hope this answers your question.

[2020-10-22 18:13] mhosankalp commented on #292
Thanks @alejandrosame. I will take another one

[2020-10-22 18:43] chinmayshah99 commented on #312
Hi @LiviaCavalcanti
Adding to Shaishta's comment, if you visit [Readme in examples](https://github.com/OpenMined/PyDP/blob/dev/examples/README.md), you will find that it only houses 1 demo, even though we have 3 demos, so we are looking to add a description of these demos in the readme.

[2020-10-23 13:04] AkashM398 commented on #312
Is anyone working on this? I would like to take over.

[2020-10-23 17:24] chinmayshah99 commented on #312
Hey @LiviaCavalcanti are you taking this up?

[2020-10-23 22:23] LiviaCavalcanti commented on #312
No, no @chinmayshah99.  Feel free to work on it, @AkashM398

[2020-10-23 23:17] chinmayshah99 commented on #312
@AkashM398 assigning it to you.

[2020-10-24 17:04] grilhami commented on #213
After some investigation it seems there where two issues that made the testing failed:

1. In line 126 of the `test_distribution.py` file, it supposed to be `c_j / c_i` instead of `c_i / c_j`. In the google-dp library they also cast it to `float` type first, but it seems not too necessary seems even without casting it to a `float` results in the same result.
2. It seems that the way the **samples*

[2020-10-25 14:25] Rajatendu1 commented on #312
Hey @chinmayshah99 @shaistha24 , I would like to work on this issue.

[2020-10-27 19:37] chinmayshah99 commented on #291
hi @siddhesh1598, how is it coming along?

[2020-10-27 19:54] chinmayshah99 opened #317 "Add style and mypy checks in jupyter NBs"
## Description
Right now the only test for jupyter notebooks is making sure that the notebook actually runs and no code standards test for it.

We need to add two tests for it:

- [ ] Style tests

- [ ] Mypy tests for functions

[2020-10-27 21:25] 8bitmp3 commented on #317
👍 @chinmayshah99 +1 for the (Google) style guide tool to help with linting things up. Maybe you could consider adding this to CI tests for the notebooks. From https://github.com/OpenMined/PyDP/pull/307#pullrequestreview-508552678:

[2020-10-28 00:59] siddhesh1598 commented on #291
Hey @chinmayshah99, so far so good. Started learning the bazel config and cloned the repo. Will soon make changes to it.

[2020-10-28 16:15] festusdrakon commented on #314
Hi guys!
I'd like to work on this issue :D

[2020-10-28 20:06] chinmayshah99 commented on #314
Sure, assigning it to you.

[2020-10-30 11:03] Rajatendu1 commented on #312
Hi @chinmayshah99 I would like to take up this issue since @AkashM398 is inactive for quite a while as per our conversation in slack.

[2020-10-30 14:27] chinmayshah99 commented on #312
Sure.

On Fri, 30 Oct 2020 at 16:34, Rajatendu Dey <notifications@github.com>
wrote:

--
Regards

Chinmay Shah

[2020-10-30 15:47] Rajatendu1 commented on #312
I have added the examples in the main project README.md as well as added the description in the respective folders of the examples. Have a look and notify me of any changes if needed. @chinmayshah99

[2020-10-30 15:55] 8bitmp3 commented on #312
PTAL @Rajatendu1 https://github.com/OpenMined/PyDP/pull/320#issue-513094544 Thanks!

[2020-10-30 16:07] 8bitmp3 commented on #312
https://x-team.com/blog/how-to-write-a-great-readme/ - "How to write a great README" - it may be helpful

What to Include in Your README

[2020-10-30 16:08] 8bitmp3 commented on #312
I'd also recommend the Google style doc that many folks use to write better READMEs and docs: https://developers.google.com/style (formatting, style, language, grammar)

[2020-10-30 16:20] 8bitmp3 commented on #312
Hi @Rajatendu1 @shaistha24 @chinmayshah99 Would it be good to use something like [`jupytext`](https://jupytext.readthedocs.io/en/latest/) to convert the notebook(s) into Markdown and then include the most important bits in the READMEs?

Currently, like in the Laplace demo README PR - https://github.com/OpenMined/PyDP/pull/318/files - there are mentions of different sections of the notebook without

[2020-10-30 17:15] shaistha24 commented on #312
the template to follow for readme is this in general for the main readme is this https://github.com/OpenMined/.github/blob/master/README-TEMPLATE.md just in case.

@8bitmp3  Yes,  what you have listed definitey makes sense and is easy to follow for the viewers.

[Jupytext]( https://jupytext.readthedocs.io/en/latest/) seems like a good idea to scrape the Notebook for the info we want to put on the

[2020-11-04 20:48] chinmayshah99 commented on #313
Hi @mhosankalp, how is this coming along?

[2020-11-04 21:06] mhosankalp commented on #313
Hi @chinmayshah99, I have completed it. How can I get it reviewed. As of now I have placed under my GitHub repository. Please see link below:
https://github.com/mhosankalp/Restaurant_Demo

Thanks and Regards,
Sankalp

[2020-11-04 21:14] chinmayshah99 commented on #313
Hi @mhosankalp this looks great.
You need to [fork ](https://docs.github.com/en/free-pro-team@latest/github/getting-started-with-github/fork-a-repo)the pydp repo. Since this is a readme file, you can [directly upload ](https://docs.github.com/en/free-pro-team@latest/github/managing-files-in-a-repository/adding-a-file-to-a-repository)this file in https://github.com/OpenMined/PyDP/tree/dev/examples/

[2020-11-05 11:58] grilhami commented on #213
Found out the issue. It seems that the way `Counter` works, is not the same as how they count the samples in the Google DP test distribution C++ file.

In C++, `Counter` is like `map`, which involves key-value pairs. In the Google DP test fil, they used `vector` which is an array. In their case, an array of all 0s with a length of 51.

When we try to use `Counter` and retrieve all of its values, t

[2020-11-05 13:59] shaistha24 commented on #313
@mhosankalp Hi, I would like to ask you to  mention that it's the PyDP lib version of Google Differential Privacy Lib Java demo Google's readme: https://github.com/google/differential-privacy/tree/main/examples/java

At one glance it looks exactly like Google's Readme which is completely fine, but pls do see that the code snippets and the other materials are shared from PyDP. If you have done so t

[2020-11-05 18:36] mhosankalp commented on #313
Hi @shaistha24, Thanks for reviewing. I made sure we have snippet and graph as per PyDp code.I have excluded text which was not relevant to us. I did one more round of review now and I see all the text is as per PyDp Code. Header is also updated to include PyDp.
Thanks and Regards,
Sankalp

[2020-11-06 07:16] chinmayshah99 commented on #313
Can you create the PR?

[2020-11-06 18:58] mhosankalp commented on #313
@chinmayshah99 have created the PR

[2020-11-07 13:51] siddhesh1598 opened #325 "Error occurs after running tests in docker image."
## Description
After building the image from the docker container, an error occurs after running tests.

## How to Reproduce
1. Build the image:
```$ docker build -t pydp:test .```
2. Run the image
```$ docker run --rm -it pydp:test```
3. Run tests
```$ make test```

![Screenshot from 2020-11-07 18-58-16](https://user-images.githubusercontent.com/35634697/98442897-d6726c00-212d-11eb-9e8c-8723d5de0

[2020-11-08 21:03] #213 closed, assigned to grilhami

[2020-11-09 19:08] chinmayshah99 commented on #325
#310 should solve this :D

[2020-11-09 19:08] #325 closed, assigned to nobody

[2020-11-09 19:09] chinmayshah99 commented on #292
#310 solves this.

[2020-11-09 19:09] #292 closed, assigned to BrendanSchell

[2020-11-09 19:09] #277 closed, assigned to nobody

[2020-11-11 22:36] pmarangone opened #329 "Resource unavailable"
## Where?
The last resource cited [here](https://github.com/OpenMined/PyDP/blob/dev/resources.md) isn't available [Bazel and pybind11]

## Additional Context
Is the correct link available?

[2020-11-12 07:15] chinmayshah99 commented on #329
hey @pmarangone,
Good catch, here you go: https://github.com/pybind/pybind11_bazel

Can you create a PR with the fix?

[2020-11-12 16:00] pmarangone commented on #329
Sure!
Thank you! :)

[2020-11-12 16:00] #329 closed, assigned to nobody

[2020-11-19 18:54] #282 closed, assigned to nobody

[2020-11-19 21:13] AbinavRavi commented on #293
Can I take a look at this issue?

[2020-11-25 13:46] mpcsb commented on #302
I can take this one. :)

[2020-11-25 13:49] chinmayshah99 commented on #302
Sure

[2020-12-08 13:26] alejandrosame commented on #265
Read future steps in #333 for further details.

[2020-12-18 18:35] alejandrosame commented on #291
Fixed on #332.

[2020-12-18 18:35] #291 closed, assigned to nobody

[2020-12-22 15:08] alejandrosame opened #334 "Notify users about Python 3.5 deprecation."
## Where?
We should let user know that we are dropping support for Python3.5 after the next planned release. At least this warning should appear:
 - in the PyDP pipy page (https://pypi.org/project/python-dp/)
 - as an interactive warning in console when the user does `import pydp` when Python version is 3.5.

## Who?
PyDP package users.

## What?
PyDP users should be encouraged to upgrade their Py

[2020-12-24 18:32] chinmayshah99 commented on #265
Distribution tests' can still be done as mentioned here: https://github.com/OpenMined/PyDP/pull/333#issuecomment-749580368

[2020-12-28 06:55] rsrinath14 opened #335 "Listed links give '404 Page Not found'"
The underlined links (in red) are broken
![issue](https://user-images.githubusercontent.com/47494475/103195030-6a2f1000-4907-11eb-8df2-036ca0dc2229.jpg)

[2020-12-28 07:06] rsrinath14 opened #336 "Listed links give '404 Page Not found' (within examples folder)"
The underlined links (in red) are broken.
![issue1](https://user-images.githubusercontent.com/47494475/103195880-23dab080-4909-11eb-947c-64e178fd1740.jpg)

[2021-01-03 11:09] festusdrakon commented on #334
Hey, I'd like to be assigned this issue to work on

[2021-01-03 17:09] chinmayshah99 commented on #334
Sure

[2021-01-05 10:39] bogomil commented on #293
Do you still need help with that?

[2021-01-06 09:23] AbinavRavi commented on #293
I have done the unit tests, I am not sure about how to do the other tests. If anyone can help me it would be useful

[2021-01-06 12:54] bogomil commented on #293
I think this is a very good resource on how you could proceed.
https://hackernoon.com/testing-strategies-for-docker-containers-f633e261e75a

I think the need here is to focus on integration tests only ^^

[2021-01-06 18:12] chinmayshah99 commented on #293
Hi @AbinavRavi, if you are facing any issues, please reach out to us on slack in the #lib_pydp channel.

[2021-01-12 17:03] #334 closed, assigned to nobody

[2021-01-16 13:39] mhosankalp commented on #336
Hi Chinmay,

Can I take this one?

Thanks and Regards,
Sankalp

[2021-01-16 14:04] mhosankalp commented on #335
As discussed in the meeting, I will take this one.

[2021-01-16 14:04] mhosankalp commented on #336
As discussed in the meeting, I will take this one.

[2021-01-17 20:22] chinmayshah99 commented on #336
Sure

[2021-01-17 20:22] chinmayshah99 commented on #335
Sure

[2021-01-18 06:03] #314 closed, assigned to festusdrakon

[2021-01-24 19:26] chinmayshah99 opened #343 "Add support for Python 3.9"
## Description
We need to start supporting Python 3,9 now: https://docs.python.org/3/whatsnew/3.9.html

## Are you interested in working on this improvement yourself?
- Yes, I am.
- No, I am not.
- No, but I think @xxxperson would be interested.

## Additional Context
Add any other context or screenshots.

[2021-02-04 06:59] #336 closed, assigned to nobody

[2021-02-04 06:59] #335 closed, assigned to nobody

[2021-02-04 06:59] #313 closed, assigned to mhosankalp

[2021-02-04 07:00] chinmayshah99 commented on #313
Fixed in #324

[2021-03-06 19:00] #11 closed

[2021-03-06 19:00] #12 closed

[2021-03-06 19:02] chinmayshah99 commented on #158
This is being done at https://github.com/OpenMined/PyStatDP.

[2021-03-06 19:02] #158 closed, assigned to nobody

[2021-03-06 19:03] chinmayshah99 commented on #183
Done in #311 and #324

[2021-03-06 19:03] #183 closed, assigned to shaistha24, bicycleman15

[2021-03-06 19:21] chinmayshah99 commented on #208
#254

[2021-03-06 19:21] #208 closed, assigned to nobody

[2021-03-06 19:21] #107 closed, assigned to nobody

[2021-03-06 19:23] chinmayshah99 commented on #191
this doesn't seem necessary.

[2021-03-06 19:23] #191 closed, assigned to replomancer

[2021-03-06 19:24] chinmayshah99 commented on #209
#307

[2021-03-06 19:24] #209 closed, assigned to nobody

[2021-03-10 16:47] chinmayshah99 opened #347 "Windows Build for PyPI fails"
## How to Reproduce

Error: Unable to process command '::add-path::C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBuild\Current\Bin' successfully.
Error: The `add-path` command is disabled. Please upgrade to using Environment Files or opt into unsecure command execution by setting the `ACTIONS_ALLOW_UNSECURE_COMMANDS` environment variable to `true`. For more information see: http

[2021-03-11 20:12] dnabanita7 commented on #302
Is it still available? seems interesting!

[2021-03-12 10:38] mpcsb commented on #302
It is. I've let this slide. Thanks

[2021-03-14 18:46] chinmayshah99 commented on #302
Hi @dnabanita7 , the issue is still available. Though I would strongly encourage you to discuss this in #lib_pydp channel first.

[2021-03-20 08:58] #343 closed, assigned to replomancer

[2021-03-23 16:31] dnabanita7 commented on #302
Hi @chinmayshah99  Should I discuss in #support channel?

[2021-03-28 09:57] zihangxiang commented on #312
Is completing the "Good First Issue" necessary to get involved in the GSoC 2021, if yes, I'd like to be assigned with this open issue.

[2021-03-28 12:20] chinmayshah99 commented on #312
sure, you can take this up.

[2021-03-31 14:18] dnabanita7 commented on #286
I am taking up the issue.

[2021-03-31 15:49] dnabanita7 commented on #286
In my understanding, there is ``pydp.rst`` which has listed ``Algorithms, Distributions, Util`` and ``index.rst`` has already included ``pydp.rst`` file in the toctree. I think this has been resolved.

[2021-04-05 04:30] dnabanita7 commented on #286
cc @chinmayshah99 @Frank-7

[2021-04-08 16:09] dnabanita7 commented on #312
Is it available?

[2021-04-08 17:39] chinmayshah99 commented on #312
Yeah!

Regards

Chinmay Shah

On Thu, Apr 8, 2021, 21:40 Nabanita Dash ***@***.***> wrote:

[2021-04-12 16:52] sid-alluri commented on #301
Is it still available?

[2021-04-12 16:55] sid-alluri commented on #317
Is this still available?

[2021-04-13 05:57] dnabanita7 commented on #302
Updates: Here is the [link](https://docs.google.com/document/d/1pZQhh_F8VkpxpvYEZ2M3Udrps35SKBd3cbWyS7gyYXg/edit?usp=sharing) for the research done. Implementation is left.

[2021-04-13 17:37] stoic-signs opened #355 "Decision Trees with Differential Privacy"
## Feature Description
This feature will eventually add Decision Trees into the PyDP library, along with the necessary control mechanism needed to use it as part of a pipeline.

## Is your feature request related to a problem?
No, it is due to a lack of support.

## What alternatives have you considered?
No alternatives currently exist.

## Are you interested in working on this yourself?
Yes.

##

[2021-04-17 06:51] chinmayshah99 commented on #317
Yeah, it is still available. There is some WIP PR: https://github.com/OpenMined/PyDP/pull/322. You can take it forward from there.

[2021-04-21 12:33] dnabanita7 commented on #317
I made another branch and added tests for all notebooks. The previous PR can be closed.

[2021-04-21 12:37] dnabanita7 commented on #315
Can I take this one?

[2021-04-25 08:59] #317 closed, assigned to nobody

[2021-04-28 05:22] madhavajay opened #358 "1.0.2 Wheel wont install on MacOS 10.15"
## Description
I just noticed that the MacOS Wheels for `1.0.2` won't install on my MacOS `10.15`.

This means the build process isn't quite right because wheels should be backwards compatible with MacOS 11 and 10.15 and even older.

Renaming the file to: `python_dp-1.0.2-cp38-cp38-macosx_10_15_x86_64.whl` works which is a known solution for these incorrectly built wheels.

I believe @bcebere fixe

[2021-04-28 05:28] bcebere commented on #358
I think the issue is for Bazel environments only.

Here is the fix for the PSI project, if I remember correctly https://github.com/OpenMined/PSI/blob/master/.github/workflows/scripts/release_osx.sh

You need to set the MACOSX_DEPLOYMENT_TARGET env and build the wheel using
[code]

[2021-04-29 10:37] victorperezc commented on #358
Hi @bcebere! I was facing the same installation issue as @madhavajay on macOS Big Sur Version 11.2.3. Fixed it by following your instructions above. Nevertheless, when I import `pydp` now I got the following error

[code]

[2021-05-17 17:00] liabifano commented on #293
Can I take this issue?

[2021-05-27 02:23] madhavajay opened #365 "Numerical Instability in Tests"
## Description
I have noticed one of the tests flaps and sometimes fails, I guess its due to some numerical instability?
https://github.com/OpenMined/PyDP/runs/2679233108?check_suite_focus=true

<img width="1141" alt="Screen Shot 2021-05-27 at 12 21 47 pm" src="https://user-images.githubusercontent.com/2882739/119755971-36700a80-bee6-11eb-95cf-0cfb55ebede6.png">

[code]

## How to Reproduce
See CI

[2021-05-31 00:02] replomancer opened #366 "PyDP does not work in the Docker container"
## Description

Importing `pydp` fails inside containers running image built from `Dockerfile`.

## How to Reproduce
Build the image and run the container:
[code]

Result of `make test` inside the container:
[code]

You can also run `python` inside the container and try this import:
[code]

## System Information
 - OS: Ubuntu
 - OS Version: 20.04
 - Language Version: (default 3.9 from Dockerfile)

[2021-06-08 03:13] chinmayshah99 commented on #347
Fixed in #363

[2021-06-08 03:13] #347 closed, assigned to nobody

[2021-06-19 07:26] dnabanita7 opened #373 "Wrapper class for Google's Numerical Mechanism"
## Description
We want to write a python wrapper class to extend the functionalites and add our own to Google's Numerical Mechanism class.

## Are you interested in working on this improvement yourself?
- Yes, I am.

## Additional Context
https://github.com/google/differential-privacy/blob/main/cc/algorithms/numerical-mechanisms.h

[2021-06-30 19:18] lifuzhang1108 commented on #210
I would like to try it please if it is available!

[2021-06-30 19:32] chinmayshah99 commented on #210
hi @lifuzhang1108. Yes this is still avaiable.

[2021-07-04 15:06] nadavaviv opened #375 "How to execute a differentially private `Count` on a dataset of non-numeric values"
## Question
How can I use the `pydp.algorithms.laplacian.Count` object with a set of non-numeric values?
When I try to use this object over an Input of `["A", "B", "C"]` I get this output

[code]

Is there a way to execute this action?

Thanks

[2021-07-05 14:00] nadavaviv commented on #366
Also can't seem to use this in a docker container.
This is the error I'm getting:
[code]

This is my dockerfile:
[code]

Thoughts?

[2021-07-05 14:26] nadavaviv commented on #366
I encountered an issue with docker too...
This is what I get when I try to import `pydp` from inside the container
[code]

This is the dockerfile:
[code]

Thoughts?

[2021-07-08 22:27] chinmayshah99 opened #376 "Docs build failing"
## Description
Sphinx build action for docs is failing. More on it here: https://github.com/OpenMined/PyDP/runs/3012891718.

You can find the build script here: https://github.com/OpenMined/PyDP/blob/dev/.github/workflows/build-docs.yml

[2021-07-08 22:36] chinmayshah99 opened #377 "Cannot install pydp on google colab"
## Description
PyDP uses the latest ubuntu version to build the release, while google colab uses 18.04.
Due to the fact that pydp uses c++ underneath the hood, different toolchains make it difficult for backward compatibility. Though we expect total forward compatibility.
While one solution is to release multiple versions of whl for different ubnutu versions, it is highly unlikely we can upload th

[2021-08-20 07:13] spnzig opened #386 "RuntimeError: LInf sensitivity has to be positive but is 0"
Getting a runtime error while running private_mean with PyDP

I have a dataframe with multiple columns. Stay is a column with integer values. I want to compute the private mean for the stay column in my dataframe.
However I get the below error.
![image](https://user-images.githubusercontent.com/30037676/130194428-2639e79f-4afa-40df-8cdf-137bf28b1dcd.png)

[2021-08-24 16:41] dnabanita7 commented on #376
I am working on this.

[2021-08-31 11:04] grilhami opened #387 "Gaussian Mechanism Local DP for SKLearn Pipeline"
## Feature Description
Enabling the use of Gaussian Mechanism for Local DP in SKLean Pipeline. This should be in the form of an "operator" that should be inserted between the layers in SKLearn's `Pipeline` class.

## Additional Context

Current development for the SKLean Pipeline is in branch `feature/machine-learning-1`.

Preferably, the name of the "operator" imported from PyDP should be called

[2021-08-31 11:06] grilhami opened #388 "Geometric Mechanism Local DP for SKLearn Pipeline"
## Feature Description
Enabling the use of Geometric Mechanism for Local DP in SKLean Pipeline. This should be in the form of an "operator" that should be inserted between the layers in SKLearn's `Pipeline` class.

## Additional Context

Current development for the SKLean Pipeline is in branch `feature/machine-learning-1`.

Preferably, the name of the "operator" imported from PyDP should be called

[2021-08-31 11:41] grilhami opened #389 "SKLearn Pipeline calculate sensitivity of categorical features for Local DP"
## Feature Description
The current SKLearn Pipeline noise mechanism "operator" for Local DPassumes that the dataset given contains only all numerical features. This means that noise is calculated on top of the sensitivity calculation on numerical features.

However, most often, datasets also contain categorical features, which requires a different method to calculate the sensitivity. The "operator

[2021-09-08 14:52] #377 closed, assigned to nobody

[2021-09-10 17:35] #27 closed

[2021-09-16 00:31] madhavajay commented on #358
Solved by newer releases.

[2021-09-16 00:31] #358 closed, assigned to nobody

[2021-09-16 00:49] madhavajay opened #393 "MacOS Python Core Dump when using Syft"
## Description
We are seeing a weird issue where importing `pydp` is causing a core dump in Python on MacOS.
It seems as though this is occurring in multiple versions of PyDP and Python. Also even weirder is that these tests were passing perfectly fine not that long ago so its hard to see exactly what has changed.

Interestingly, it seems as though if pydp is imported first this doesn't happen. Pe

[2021-09-17 10:02] chinmayshah99 commented on #376
Surprisingly fixed by #394.

[2021-09-17 10:02] #376 closed, assigned to nobody

[2021-09-17 19:22] stoic-signs commented on #376
This was quite a surprise. As I was looking into the issue, I thought we might have to upgrade `libstdc++6 ` on CI.

[2021-09-21 12:26] grilhami opened #395 "Laplace Mechanism Global DP for SKLearn Pipeline"
## Feature Description
Enabling the use of Laplace Mechanism for Local DP in SKLean Pipeline. This should be in the form of an "operator" that should be inserted between the layers in SKLearn's Pipeline class.

This is the Global DP Version of the already existing Laplace Mechanism extension for Local DP.

## Additional Context
Current development for the SKLean Pipeline is in branch `feature/mach

[2021-09-21 16:03] grilhami opened #396 "Gaussian Mechanism Global DP for SKLearn Pipeline"
## Feature Description
Enabling the use of Gaussian Mechanism for Local DP in SKLean Pipeline. This should be in the form of an "operator" that should be inserted between the layers in SKLearn's Pipeline class.

This is the Global DP Version of the already existing Gaussian Mechanism extension for Local DP mentioned in issue #387.

## Additional Context
Current development for the SKLean Pipeline

[2021-09-21 16:39] #373 closed, assigned to nobody

[2021-11-19 05:17] youny626 opened #402 "Support for M1 Mac?"
## Description
I got the error ` ModuleNotFoundError: No module named 'pydp._pydp'` when running `carrots.py` in examples. I used `pip install python-dp` to install the library and strangely it can only install version=0.1.0. When I tried to `pip install python-dp==1.1.1`, I get the following error:
[code]
The error is likely due to lack of support for M1 Mac (with ARM arch)

## System Information

[2021-11-22 17:43] chinmayshah99 commented on #402
We use GitHub actions to create the build and use it to generate our python packages. GitHub does not support for m1 chips yet:
https://github.com/actions/virtual-environments/issues/2187#issuecomment-737339211
Once they add a support for it, we can release the corresponding python package.

[2021-11-24 17:04] grilhami commented on #389
I'm handling this one

[2021-11-28 05:50] SauravMaheshkar commented on #312
I'd like to work on this Issue. To be the specific the [`laplace_demo`](https://github.com/OpenMined/PyDP/tree/dev/examples/laplace_demo) could do with some love ❤️, for instance, some LaTeX in the Notebook is broken and it doesn't have a README in the first place.

CC: @shaistha24  / @chinmayshah99 (Sorry for the @ 😅)

[2021-11-29 15:59] chinmayshah99 commented on #312
Sure, you can take this up @SauravMaheshkar.

[2021-11-29 16:55] grilhami commented on #389
Support for the Laplace mechanism has been added in  PR #403

For Gaussian and Geometrical, still waiting for #387 and #388 to be addressed.

[2021-12-18 16:18] SauravMaheshkar commented on #312
@chinmayshah99 Can I also take up the `Titanic_demo` ? It doesn't have a README and the notebook should have a TOC as well.

[2021-12-19 03:57] chinmayshah99 commented on #312
Sure.

Regards,

Chinmay Shah

sent from mobile device

On Sat, Dec 18, 2021, 21:48 Saurav Maheshkar ***@***.***>
wrote:

[2022-01-30 11:44] mjbommar opened #407 "FEAT: Expose SeededLaplaceMechanism for deterministic RNG"
## Feature Description
For research and CI/CD testing purposes, full transparency or determinism w.r.t. random state is often desirable.  `differential-privacy` makes a `SeededLaplaceMechanism` available for this purpose, but it looks like we only make `LaplaceMechanism` available in this library.

## Is your feature request related to a problem?
Two issues:
* Replication of academic research that

[2022-01-30 11:52] mjbommar commented on #407
PS: this looks pretty trivial but happy to help implement too!

[2022-02-07 21:31] mjbommar commented on #407
I thought I could PR this in 15 minutes but ran into an issue.  I see that the `SeededXYZ` mechanisms are in `numerical-mechanisms-testing.h`, not `numerical-mechanisms.h`, which results in them being blocked from linking due to bazel's `testonly` behavior.  I guess the options are to "re-implement" the seeded behavior or explore moving these Mechanisms in the `differential-privacy` repo itself.

[2022-02-28 18:48] grilhami commented on #388
Due to the nature of how we implement the `Geometric` class, it seems that we can only support datasets with categorical features. Alternatively, we can use `GeometricDistribution` direct from Google DP, but that means we also have to modify the already implemented `LaplaceMechanism` class so that it also uses `LaplaceDistribution` from Google DP.

What do you think? @chinmayshah99

[2022-03-31 03:22] lmaxeniro opened #409 "In "carrots_demo" notebook, the private_max(privacy_budget: float) does not work"
## Description
running the  "carrots_demo" notebook, the function private_max(privacy_budget: float) does not work

## How to Reproduce
run the notebook line by line, everything else is OK, but when running print("Private max:\t" + str(private_max(1))), these error is throw out, regardless of whatever privacy_budget value is given.

`----------------------------------------------------------------

[2022-03-31 08:27] lmaxeniro opened #410 "In "restaurant_demo" notebook, BoundedSum(epsilon, MIN_EUROS_SPENT, MAX_EUROS_SPENT, 4) does not work"
## Description
In "restaurant_demo" notebook, BoundedSum(epsilon, MIN_EUROS_SPENT, MAX_EUROS_SPENT, 4)  does not work

## How to Reproduce
run the notebook line by line, up to "Both Private and Non-private values" section
runtime error report:
`

RuntimeError                              Traceback (most recent call last)
/tmp/ipykernel_26944/2545274799.py in <module>
     15             amount_bou

[2022-04-08 12:55] vdasu opened #412 "Delta parameter used in algorithms based on the Laplace mechanism"
## Question
Why are the algorithms based on the Laplace mechanism using a delta parameter?

## Further Information
If I understand correctly, the Laplace mechanism offers ε-differential privacy. However, the algorithms based on the Laplace mechanism expect the delta parameter as well (E.g. [Max](https://pydp.readthedocs.io/en/latest/pydp.html?highlight=Max#pydp.algorithms.laplacian.Max), [BoundedM

[2022-04-21 18:43] dibakch opened #413 "Raise different errors based on the error code returned from the DP Library"
## Description

In the builder of algorithms or numerical mechanisms, the DP Library returns different error types, i.e., invalid argument, unimplemented, failed precondition, or internal errors.  Based on those types, we should raise different exceptions in Python, too.

## Are you interested in working on this improvement yourself?
- No, I am not at the moment.

## Additional Context

We would b

[2022-04-30 12:13] soma2000-lang commented on #290
@chinmayshah99  Is this issue still available ??I wanted to work on it

[2022-04-30 12:51] chinmayshah99 commented on #290
Sure.

[2022-05-03 00:03] soma2000-lang opened #414 "Add contribution guide for absolute beginners"
## Description
There should be a guide for absolute beginners, like how to fork and clone a repository. This will drive new contributors to contribute.

## Are you interested in working on this improvement yourself?
- Yes, I am.

[2022-06-02 13:56] chinmayshah99 commented on #412
Hi @vdasu, This is fixed now.

Also, The library internally passes a default value as 0 so using named arguments also resolves this.
Just to add on PyDP uses epsilon-delta privacy.

[2022-06-02 13:56] #412 closed, assigned to nobody

[2022-06-02 13:57] chinmayshah99 commented on #410
Hi @lmaxeniro, we have fixed this now. Let me know if this is still an issue.

[2022-06-02 13:57] #410 closed, assigned to nobody

[2022-06-02 13:57] chinmayshah99 commented on #409
Hi @lmaxeniro, we have fixed this now. Let me know if this is still an issue.

[2022-06-02 13:57] #409 closed, assigned to nobody

[2022-06-02 13:59] chinmayshah99 commented on #288
Hi @NateSolon, is this still an issue?

[2022-06-02 14:00] #211 closed, assigned to nobody

[2022-07-17 07:15] chinmayshah99 opened #420 "Python 3.9 build failing"
## Description
Black is failing on python 3.9 all OS types during pytest causing the build to fail.

## How to Reproduce
1. https://github.com/OpenMined/PyDP/runs/7263535015?check_suite_focus=true#step:21:35

## Additional Context
Add any other context about the problem here.

[2022-07-17 07:32] chinmayshah99 opened #421 "Build fail due to clang-format"
## Description
Due to version dependencies in clang-format, the build is failing.

## How to Reproduce
1. https://github.com/OpenMined/PyDP/runs/7263534839?check_suite_focus=true#step:8:29

[2022-08-09 03:51] chinmayshah99 commented on #407
@dvadym what do you think about this?

[2022-08-09 06:21] dvadym commented on #407
I think this is a good feature to have, it can be definitely useful for some use cases.

[2022-09-14 12:43] chinmayshah99 opened #432 "Upgrade default python version to python 3.8 on Linux System"
## Description
Python 3.6 is deprecated and hence there is no point in installing py36 as a default version. Rather we should be installing python 3.8.
File to be updated: https://github.com/OpenMined/PyDP/blob/dev/prereqs_linux.sh#L26

## Additional Context
Add any other context or screenshots.

[2022-11-23 08:41] menisadi opened #439 "Can't import pydp"
**System details:**
Windows 11 AMD64 (64-bit)
Miniconda distribution of python and using conda virtual environment.

**Problem:**
I installed python-dp using pip install python-dp. For some reason it installed version 0.1.0 which is of course causing problem and can't be imported or used.

[2022-11-29 18:43] chinmayshah99 commented on #439
Hi @menisadi can you explicitly try installing the latest version of pypi: https://pypi.org/project/python-dp/1.1.3rc3/.
Also, it would be great if you could share some more environment information example python version, windows build version, and the CPU specifications.

[2022-11-29 18:46] #288 closed, assigned to nobody

[2022-11-29 18:52] menisadi commented on #439
I tried it now and I get the following error
[code]
My python version is 3.10.8
My Windows version is : 10.0.22621 Build 22621 (Windows 11 Pro)
Processor Intel(R) Core(TM) i7-10510U CPU @ 1.80GHz, 2304 Mhz, 4 Core(s), 8 Logical Processor(s)
System Type	x64-based PC
The model is Dell Vostro 5590

Anything else which might help?

[2022-11-29 21:04] chinmayshah99 commented on #439
hi @menisadi, just checked there are some issues with our build system.
We added support for py10 recently but are still facing some issues with windows.
If you have a WSL, you can start using it immediately.

Immediate solution: You can try using it for python 3.8 if you do not use WSL.

Next steps ahead, we would be fixing our CI/CD process to make sure it supports windows across all python vers

[2022-11-29 22:29] menisadi commented on #439
I modified the virtual environment to python 3.8, and now it works! Though for some reason it didn't find version 1.1.3rc3 only 1.1.3rc2, so I installed this one.

Thanks!